.title2 {
	margin-bottom: 1.3em;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	color: #000;
	letter-spacing: normal;
}
	.title2 span {
		display: block;
		font-weight: 400;
		font-size: 0.83em;
		color: #535353;
	}

.nav_btn {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 130px;
	padding: 11px;
	border: 1px solid #b8c0cc;
	border-radius: 5px;
	font-size: 11px;
	line-height: 1.3;
	color: #9ea5b1;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.nb_prev {margin-right: 10px;}
.nb_next {margin-left: 10px;}
.nb_prev::before,
.nb_next::after {
	content: "";
	background-image: url(../img/arrow11.png);
	width: 11px;
	height: 21px;
}
.nb_prev::before {
	background-position: 0 0;
	margin-right: 14px;
}
.nb_next::after {
	background-position: -11px 0;
	margin-left: 14px;
}
.nav_btn:hover {
	background-color: #233972;
	border-color: #233972;
	color: #fff;
}
.nb_prev:hover::before,
.nb_next:hover::after {background-image: url(../img/arrow12.png);}

.b_progress {
	background: #e0e7ef;
	width: 100%;
	max-width: 450px;
	height: 8px;
}
	.bp_bar {
		background: #e12c63;
		height: 100%;
		position: relative;
	}
	.bp_num {
		background: url(../img/arrow13.png) center bottom no-repeat;
		min-width: 21px;
		padding-bottom: 14px;
		position: absolute;
		bottom: 18px;
		right: -10px;
		font-size: 11px;
		line-height: 1.3;
		color: #7a8898;
		text-align: center;
	}

.c_wr10 {
	padding-top: 10px;
	font-size: 15px;
	color: #535353;
}

	.c_wr10 .jq-checkbox,
	.c_wr10 .jq-radio {
		width: 18px;
		height: 18px;
		border: 1px solid #d9d9d9;
	}
	.c_wr10 .jq-checkbox.checked + label,
	.c_wr10 .jq-radio.checked + label {font-weight: 700;}

	.c_wr10 .foot {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 60px 0;
		/*border-top: 1px solid #e0e7ef;*/
	}
		.c_wr10 .foot .nb_next {
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}

.switch {
	display: inline-block;
	cursor: pointer;
}
	.switch input {display: none;}
	.switch span {
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		min-width: 150px;
		padding: 12px 20px;
		border: 1px solid #b8c0cc;
		border-radius: 5px;
		font-size: 15px;
		line-height: 1.3;
		color: #535353;
		text-align: center;
	}
	.switch input:checked + span {
		background: #233972;
		border-color: #233972;
		color: #fff;
	}

.b_info11 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 35px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e0e7ef;
}
	.b_info11 .switch {margin: 0 10px 10px 0;}

.list1 {
	padding: 0 0 0 40px;
	list-style: none;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-width: 250px;
	column-width: 250px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
	margin-bottom: 35px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e0e7ef;
}
	.list1 li {
		margin-bottom: 1em;
		padding-left: 32px;
		text-indent: -32px;
	}

.rev_btn {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 500;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
	.rev_btn a {
		background: #e12c63;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 188px;
		height: 64px;
		padding: 17px 14px 17px 25px;
		border-radius: 35px 0 0 35px;
		-webkit-transform: translateX(116px);
		-ms-transform: translateX(116px);
		transform: translateX(116px);
		font-size: 12px;
		line-height: 1.3;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
		.rev_btn a .ico {
			background-image: url(../img/ico1.png);
			-ms-flex-negative: 0;
			flex-shrink: 0;
			width: 33px;
			height: 28px;
			margin-right: 14px;
		}
		.rev_btn a span {}
	.rev_btn a:hover {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

@media screen and (max-width: 550px) {
	.c_wr10 .foot {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
		.c_wr10 .foot .nb_prev {
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}
		.c_wr10 .b_progress {
			max-width: none;
			margin-bottom: 30px;
		}

	.list1 {padding-left: 20px;}
}

@media screen and (max-width: 360px) {
	.b_info11 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.b_info11 .switch {
			width: 100%;
			margin-right: 0;
		}

	.list1 {padding-left: 0;}
}

li.prog {
	width:400px;
}
.wizard{
	list-style:none;
}
.navbar {
	margin:0px;
	padding:0px;
	visibility:hidden;
	min-height:1px;
}

li.disabled {
	cursor: not-allowed;
}
li.disabled a {
    pointer-events: none;
}
.shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-5px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(10px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-20px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(20px, 0, 0);
	}
}
.my-loader {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgb(249,249,249);
		opacity: 1;
		z-index: 9999;
		margin-top:-90px;
}
.my-loader i {
    position: fixed;
	top: 50%;
	left: 50%;
}