/* -------------------------------
	Global 
------------------------------- */
html, body {height: 100%;}
	html {background: #fff;}
	body {
		min-width: 320px;
		font: 14px/1.5 'Open Sans', sans-serif;
		color: #7a7b7b;
		letter-spacing: 0.02em;
	}

body,
dl, dd,
blockquote, fieldset, legend {margin: 0; padding: 0;}
fieldset {border: none;}
table {border: none; border-collapse: collapse;}
	th, td {vertical-align: top;}
	th {text-align: left; font-weight: normal;}
address {font-style: normal;}
p, ul, ol {margin: 0 0 1.5em 0;}
img {vertical-align: top;}
iframe[src="//t.insigit.com/nsapi/static/partners.html"] {display: none;}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	font-size: 0;
	line-height: 0;
}

.ib_wr > * {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.ib_wr,
.ib_wr .ib_wr {
	font-size: 0;
	line-height: 0;
	letter-spacing: -0.3em;
}

#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 2100px;
	min-height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.in {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

/* -------------------------------
	Txt 
------------------------------- */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em 0;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #000;
}
h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 17px;}
h4 {font-size: 14px;}
h5 {font-size: 14px;}
h6 {font-size: 14px;}

.title1 {
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 0.01em;
	color: #000;
}

.tbl_hide,
.tbl_hide th,
.tbl_hide td {border: none;}

.tbl_border,
.tbl_border th,
.tbl_border td {border: 1px solid #333;}

/* -------------------------------
	Links 
------------------------------- */
:focus {outline: none;}
a img {border: none;}

a {color: #285299;}
a:hover {text-decoration: none;}

a[href^="tel"] {
	color: inherit;
	white-space: nowrap;
	text-decoration: none;
}

/* -------------------------------
	Forms 
------------------------------- */
.f_row {margin-bottom: 7px;position: relative;}

.f_row .form_paceholder {
	top: 12px;
	position: absolute;
	right: 25px;
	color: #cccccc;}
.f_row .hide{display: none;}
.f_row .show {display: inline-block;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
	background: #fff;
	width: 100%;
	margin: 0;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font: 14px/20px 'Open Sans', sans-serif;
	color: #939393;
	letter-spacing: 0.02em;
	-webkit-appearance: none;

}
textarea {
	height: 115px;
	overflow: auto;
	resize: none;
	vertical-align: top;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {opacity: 1; color: #939393;}
input::-moz-placeholder,
textarea::-moz-placeholder {opacity: 1; color: #939393;}
input:-moz-placeholder,
textarea:-moz-placeholder {opacity: 1; color: #939393;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {opacity: 1; color: #939393;}

.jq-selectbox.v1 .jq-selectbox__select {
	height: 34px;
	padding: 0 20px 0 0;
	background: #fff;
	border: none;
	line-height: 34px;
	color: #242424;
}
.jq-selectbox.v1 .jq-selectbox__select-text {overflow: unset; -o-text-overflow: unset; text-overflow: unset;}
.jq-selectbox.v1 .jq-selectbox__trigger {width: 10px;}
.jq-selectbox.v1 .jq-selectbox__trigger-arrow {
	background: url(../public/i/arrow5.png);
	width: 11px;
	height: 6px;
	margin: -3px 0 0 -5px;
	border: none;
}
.jq-selectbox.v1 .jq-selectbox__dropdown {margin: 0;}
.jq-selectbox.v1 li {
	padding-right: 5px;
	padding-left: 5px;
	color: #242424;
}
.jq-selectbox.v1 li.selected,
.jq-selectbox.v1 li:hover {color: #fff;}

.jq-selectbox.v2 {font-weight: 700;}
.jq-selectbox.v2 .jq-selectbox__select {
	height: 20px;
	padding: 0 30px 0 0;
	background: none;
	border: none;
	border-radius: 0;
	line-height: 20px;
	color: #242424;
}
.jq-selectbox.v2 .jq-selectbox__select-text {overflow: unset; -o-text-overflow: unset; text-overflow: unset;}
.jq-selectbox.v2 .jq-selectbox__trigger {width: 20px;}
.jq-selectbox.v2 .jq-selectbox__trigger-arrow {
	background: url(../public/i/arrow9.png);
	width: 12px;
	height: 8px;
	margin: -4px 0 0 -6px;
	border: none;
}
.jq-selectbox.v2 .jq-selectbox__dropdown {margin: 0;}
.jq-selectbox.v2 li {
	padding-right: 5px;
	padding-left: 5px;
	color: #242424;
}
.jq-selectbox.v2 li.selected,
.jq-selectbox.v2 li:hover {color: #fff;}

.switch1 {}
	.switch1 label {display: inline-block; cursor: pointer;}
		.switch1 input {display: none;}
		.switch1 span {
			background: #fff;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			height: 140px;
			padding: 10px 40px;
			border: 1px solid #dfdfdf;
			position: relative;
			font-size: 13px;
			color: #939393;
		}
		.switch1 input:checked + span {
			background: #fffbe9;
			border-bottom-color: #ffdd2d;
		}
		.switch1 input:checked + span::after {
			content: "";
			background: #ffdd2d;
			width: 100%;
			height: 3px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
			.switch1 strong {
				display: block;
				margin-bottom: 0.6em;
				font-size: 15px;
				color: #000;
				letter-spacing: 0.01em;
			}

.switch1.v1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
	.switch1.v1 label {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
		.switch1.v1 label + label span {border-left-width: 0;}

input[type="submit"],
input[type="button"],
button,
.btn {
	background: #ffdd2d;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font: 700 13px/20px 'Open Sans', sans-serif;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	cursor: pointer;
	-webkit-appearance: none;
}
a.btn {display: inline-block; text-decoration: none;}

/* -------------------------------
	Header 
------------------------------- */
#header {
	background: #fff;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
	z-index: 200;
}

	#header .row.v1 {color: #000;}
		#header .row.v1 .in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			min-height: 69px;
			padding-left: 176px;
		}
		#header .row.v1 .in::before {
			content: "";
			background: #233972;
			width: 176px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		#header .row.v1 .in::after {
			content: "";
			background: #fff;
			width: 555px;
			height: calc(100% + 68px);
			position: absolute;
			top: 0;
			left: -450px;
			transition:none;
		}
			#header .row.v1 .in > .col.v1 {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				border-right: 1px solid #cfcfcf;
			}
			#header .row.v1 .in > .col.v2 {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				white-space: nowrap;
			}

	#header .row.v2 {background: #233972; height: 68px;}
		#header .row.v2 .in {
			padding-top: 12px;
			padding-left: 176px;
			padding-bottom: 12px;
		}
	
		.logo {
			position: absolute;
			top: -7px;
			left: -5px;
			z-index: 2;
		}

		.h_cat {}
			.h_cat .ctrl {
				background: #ffdd2d;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				height: 100%;
				padding: 0 15px;
				font-weight: 700;
				font-size: 13px;
				color: #000;
				text-transform: uppercase;
				cursor: pointer;
			}
			.h_cat .ctrl::before {
				content: "";
				background-image: url(../public/i/burger1.png);
				display: inline-block;
				vertical-align: middle;
				width: 19px;
				height: 10px;
				margin-right: 13px;
			}
			.h_cat .ddown {
				background: #fff;
				display: none;
				width: calc(100% - 176px);
				-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				position: absolute;
				top: 100%;
				left: 176px;
				z-index: 2;
				font-size: 13px;
				-webkit-transition: none;
				-o-transition: none;
				transition: none;
			}
				.tabs_wr1 .scroll-pane {height: 555px;}
					.h_cat .ddown .cols {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
					}
						.h_cat .ddown .col {width: 33.3%; padding-right: 20px;}
						.h_cat .ddown .col:last-child {padding-right: 0;}
							.h_cat .ddown .title {
								margin-bottom: 1.5em;
								font-weight: 700;
								text-transform: uppercase;
							}
							.h_cat .ddown .cols ul {
								margin-bottom: 3.5em;
								padding: 0;
								list-style: none;
							}

							.h_cat .ddown .cols ul ul {
								margin-left: 30px;
								margin-top: 0.8em;
								margin-bottom: 0.8em;
							}
							.h_cat .ddown .cols ul ul ul {
								margin-left: 60px;
								margin-top: 0.8em;
								margin-bottom: 0.8em;
							}

								.h_cat .ddown .cols li {margin-bottom: 0.8em;}
									.h_cat .ddown .cols ul a {color: inherit; text-decoration: none;}
									.h_cat .ddown .cols ul a:hover {color: #285299; text-decoration: underline;}

		.h_menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0;
			padding: 7px 0 7px 25px;
			list-style: none;
		}
			.h_menu > li {margin-right: 12px; padding: 2px 0;}
				.h_menu > li > a {
					display: inline-block;
					padding: 2px 6px 4px 6px;
					border-radius: 3px;
					font-size: 15px;
					line-height: 1.22;
					color:inherit;
					text-decoration: none;
				}
				.h_menu > li > a:hover,
				.h_menu > li.active > a {background: #285299; color: #fff;}

		.search_ctrl_mob {
			background-image: url(../public/i/search2.png);
			display: none;
			width: 17px;
			height: 17px;
			cursor: pointer;
		}

		.lang {margin-left: 33px; position: relative;}
			.lang img {margin: -3px 8px 0 0; vertical-align: middle;}
			.lang .head {cursor: pointer;}
			.lang .ddown {
				background-color: #fff;
				display: none;
				/*width: 130px;*/
				padding: 24px 17px 18px 17px;
				-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				position: absolute;
				top: -24px;
				left: -17px;
				z-index: 2;
				-webkit-transition: none;
				-o-transition: none;
				transition: none;
			}
				.lang a {color: inherit; text-decoration: none;}
				.lang .ddown a {display: block; margin-bottom: 10px;}
				.lang .ddown a:last-child {margin-bottom: 0;}
			.lang:hover .ddown {display: block;}

		.h_login {
			margin-left: 33px;
			position: relative;
		}
			.h_login a {color: inherit; text-decoration: none;}
			.h_login a:hover {color: #285299;}
			.h_login span {
				display: inline-block;
				vertical-align: middle;
				width: 60px;
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}

			.h_login .ddown {
				background-color: #fff;
				display: none;
				/*width: 130px;*/
				padding: 24px 17px 18px 17px;
				-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				position: absolute;
				top: -24px;
				left: -17px;
				z-index: 2;
				-webkit-transition: none;
				-o-transition: none;
				transition: none;
			}
			.h_login a {color: inherit; text-decoration: none;}
			.h_login .ddown a {display: block; margin-bottom: 10px;}
			.h_login .ddown a:last-child {margin-bottom: 0;}
			.h_login:hover .ddown {display: block;}

		.h_cart {margin-left: 33px;}
			.h_cart a {
				background: url(../public/i/ico_a2.png) 0 center no-repeat;
				display: inline-block;
				padding-left: 25px;
				position: relative;
				color: inherit;
				text-decoration: none;
			}
				.h_cart span {
					background: #ffdd2d;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					position: absolute;
					top: -5px;
					left: 10px;
					font-size: 10px;
					line-height: 14px;
					letter-spacing: normal;
					color: #000;
					text-align: center;
				}

		.m_ctrl {
			background: #ffdd2d url(../public/i/burger1.png) center no-repeat;
			display: none;
			width: 115px;
			cursor: pointer;
		}

		.search_form {position: relative;}
			.search_form form {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
				.search_form input[type="text"] {}
				.search_form button {
					-ms-flex-negative: 0;
					flex-shrink: 0;
					width: 220px;
					margin-left: 16px;
				}
				.search_form button::before {
					content: "";
					background-image: url(../public/i/search1.png);
					display: inline-block;
					vertical-align: middle;
					width: 17px;
					height: 17px;
					margin-right: 10px;
				}
			.search_result {
				background: #fff;
				display: none;
				width: calc(100% - 236px);
				margin-top: 1px;
				padding: 5px 14px 14px 14px;
				-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
				position: absolute;
				top: 100%;
				left: 0;
				color: #000;
			}
				.search_result a {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					margin-bottom: -1px;
					padding: 2px 5px;
					border: 1px solid transparent;
					color: inherit;
					text-decoration: none;
				}
				.search_result a:last-child {margin-bottom: 0;}
				.search_result a:hover {border-color: #dcdcdc;}
					.search_result img {width: 30px;}
					.search_result .title {
						-webkit-box-flex: 1;
						-ms-flex-positive: 1;
						flex-grow: 1;
						padding: 0 15px;
						font-size: 13px;
					}
					.search_result .price {white-space: nowrap;}

		.search_form.sf_mob {
			background: #285299;
			display: none;
			width: 100%;
			border: 10px solid #285299;
			-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
			position: fixed;
			top: 70px;
			left: 0;
			-webkit-transition: none;
			-o-transition: none;
			transition: none;
		}

	.mob_menu_wr {
		background: #0c1c36;
		display: none;
		width: 100%;
		max-width: 320px;
		height: 100%;
		-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 100;
		overflow: auto;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
		.mob_menu_in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			height: 100%;
		}
			.mob_menu_in .close {
				background-image: url(../public/i/x1.png);
				width: 17px;
				height: 17px;
				position: absolute;
				top: 20px;
				right: 10px;
				cursor: pointer;
			}
			.mob_menu_in > .head {
				background: #fff;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				padding: 18px 10px 20px 10px;
				color: #000;
			}
				.mob_menu_in .lang {
					display: none;
					margin: 0;
					font-size: 0;
					line-height: 0;
				}
					.mob_menu_in .lang img {margin: 0;}
					.mob_menu_in .lang .ddown {
						width: auto;
						padding: 10px;
						top: 35px;
						left: -10px;
					}
				.mob_menu_in .h_login {display: none; margin: 0 0 0 18px;}
				.mob_menu_in .h_cart {display: none; margin: 0 27px 0 20px;}
				.mob_menu_in .h_cat {
					-webkit-box-flex: 1;
					-ms-flex-positive: 1;
					flex-grow: 1;
					margin-top: 30px;
					position: relative;
				}
					.mob_menu_in .h_cat .ctrl {
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						height: 44px;
						text-align: center;
					}
					.mob_menu_in .h_cat .ddown {
						width: calc(100% + 20px);
						margin-top: 20px;
						left: -10px;
					}
						.h_cat_mob {}
							.h_cat_mob .head {
								background: #285299;
								margin: 0;
								padding: 10px 30px 10px 10px;
								border-bottom: 1px solid rgba(255, 255, 255, 0.3);
								position: relative;
								font-weight: 700;
								color: #fff;
								text-transform: uppercase;
							}
							.h_cat_mob .head::after {
								content: "";
								background-image: url(../public/i/arrow8.png);
								background-position: 0 -6px;
								width: 10px;
								height: 6px;
								position: absolute;
								top: 15px;
								right: 10px;
								-webkit-transition: none;
								-o-transition: none;
								transition: none;
							}
							.h_cat_mob .head.ui-state-active::after {background-position: 0 0;}
							.h_cat_mob .ui-accordion-content {
								padding: 15px 10px;
								-webkit-transition: none;
								-o-transition: none;
								transition: none;
							}
								.h_cat_mob .title {
									margin-bottom: 1.5em;
									font-weight: 700;
									text-transform: uppercase;
								}
								.h_cat_mob ul {
									margin-bottom: 1.5em;
									padding: 0;
									list-style: none;
								}
									.h_cat_mob li {margin-bottom: 0.8em;}
										.h_cat_mob ul a {color: inherit; text-decoration: none;}
										.h_cat_mob ul a:hover {color: #285299; text-decoration: underline;}
			.mob_menu {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				margin: 0;
				padding: 48px 10px 28px 10px;
				list-style: none;
				font-size: 12px;
				line-height: 1.22;
				letter-spacing: 0.2em;
				text-align: center;
				text-transform: uppercase;
			}
				.mob_menu li {margin-bottom: 1.8em;}
				.mob_menu li:last-child {margin-bottom: 0;}
					.mob_menu a {color: #fff; text-decoration: none;}
					.mob_menu a:hover,
					.mob_menu li.active a {color: #ffdd2d;}
			.mob_menu_in > .foot {
				-ms-flex-negative: 0;
				flex-shrink: 0;
				padding: 20px 10px 25px 10px;
				text-align: center;
			}
				.mob_menu_in .mailer {width: 100%; margin-bottom: 25px;}
					.mob_menu_in .mailer .title {
						margin-bottom: 5px;
						font-size: 11px;
						letter-spacing: 0.1em;
						color: #9d9e9e;
						text-transform: uppercase;
					}
				.mob_menu_in .social a {margin: 0 12px;}

/* -------------------------------
	Main 
------------------------------- */
#main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 0;
	position: relative;
}

	.breadcrumbs {margin-bottom: 30px; padding-top: 18px;}
		.breadcrumbs ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 13px;
			color: #7a7b7b;
		}
			.breadcrumbs li + li::before {content: "\002F"; margin: 0 10px;}
				.breadcrumbs a {color: inherit; text-decoration: none;}
				.breadcrumbs a:hover {text-decoration: underline;}

	.thumb_wr,
	.thumb {position: relative;}
	.p_descr {position: relative; overflow: hidden;}

	.slick-dots {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.slick-dots li {display: inline-block; vertical-align: middle;}
			.slick-dots button {
				background: none;
				min-width: auto;
				padding: 0;
				font-size: 0;
				line-height: 0;
			}

	.ui-tabs {padding: 0;}
		.ui-tabs .ui-tabs-nav {
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: inherit;
		}
			.ui-tabs .ui-tabs-nav li {
				margin: 0;
				padding: 0;
				float: none;
				white-space: normal;
			}
			.ui-tabs .ui-tabs-nav li.ui-tabs-active {margin-bottom: 0; padding-bottom: 0;}
				.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
					padding: 0;
					float: none;
					color: inherit;
					text-decoration: none;
					-webkit-transition: none;
					-o-transition: none;
					transition: none;
				}

	.tabs_wr {padding: 0;}
		.tabs_wr .tabs {border-bottom: 1px solid #ebecec;}
			.tabs .ui-helper-clearfix::before,
			.tabs .ui-helper-clearfix::after {display: none;}
			.tabs_wr .ui-tabs-nav {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin-bottom: -1px;
			}
				.tabs_wr .ui-tabs-nav li {
					margin-right: 12px;
					margin-left: 12px;
					padding: 5px 15px 12px 15px;
					border-bottom: 3px solid transparent;
					font-weight: 300;
					letter-spacing: 0.01em;
					color: #000;
					text-align: center;
				}
				.tabs_wr .ui-tabs-nav li.ui-tabs-active {padding-bottom: 12px; border-color: #285299;}
					.tabs_wr .ui-tabs-nav .ui-tabs-anchor {font-size: 18px;}
		.tabs_wr .tab_content {padding: 25px 0 20px 0;}
			.ui-tabs .ui-tabs-panel {padding: 0;}
				.tc_head {margin-bottom: 30px; text-align: center;}
					.tc_head .title {
						margin-bottom: 0.5em;
						font-weight: 600;
						font-size: 18px;
						color: #e22045;
					}
			.tabs_wr .form_wr {margin-top: 25px; margin-bottom: 55px;}

	.tabs_wr_profile {padding: 0;}
		.tabs_wr_profile .tabs {border-bottom: 1px solid #ebecec;}
			.tabs .ui-helper-clearfix::before,
			.tabs .ui-helper-clearfix::after {display: none;}
			.tabs_wr_profile .ui-tabs-nav {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin-bottom: -1px;
			}
				.tabs_wr_profile .ui-tabs-nav li {
					margin-right: 12px;
					margin-left: 12px;
					padding: 5px 15px 12px 15px;
					border-bottom: 3px solid transparent;
					font-weight: 300;
					letter-spacing: 0.01em;
					color: #000;
					text-align: center;
				}
				.tabs_wr_profile .ui-tabs-nav li.ui-tabs-active {padding-bottom: 12px; border-color: #285299;}
					.tabs_wr_profile .ui-tabs-nav .ui-tabs-anchor {font-size: 18px;}
		.tabs_wr_profile .tab_content {padding: 25px 0 20px 0;}
			.ui-tabs .ui-tabs-panel {padding: 0;}
				.tc_head {margin-bottom: 30px; text-align: center;}
					.tc_head .title {
						margin-bottom: 0.5em;
						font-weight: 600;
						font-size: 18px;
						color: #e22045;
					}
			.tabs_wr_profile .form_wr {margin-top: 25px; margin-bottom: 55px;}

	.tabs_wr.v1 .ui-tabs-nav {margin-bottom: 0;}
		.tabs_wr.v1 .ui-tabs-nav li {
			margin-right: 7px;
			margin-left: 7px;
			padding: 12px 35px;
			border: none;
		}
		.tabs_wr.v1 .ui-tabs-nav li.ui-tabs-active {background: #285299; color: #fff;}
		.tabs_wr_prfile.v1 .ui-tabs-nav li.ui-tabs-active {background: #285299; color: #fff;}

	.tabs_wr.v2 {padding-top: 35px;}
	.tabs_wr_profile.v2 {padding-top: 35px;}

	.tabs_wr1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
		.tabs_wr1 .tabs {
			-ms-flex-negative: 0;
			flex-shrink: 0;
			width: 215px;
			padding: 20px 0;
			border-right: 1px solid #ebecec;
			font-size: 13px;
			line-height: 1.4;
			text-transform: uppercase;
		}
		.tabs_wr1 .tab_content {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding: 25px 15px 25px 40px;
		}

	.ui-tabs-vertical .ui-tabs-nav li {white-space: normal;}
	.ui-tabs-vertical .ui-tabs-nav .ui-tabs-anchor {display: block; padding: 6px 18px;}
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {background: #ffdd2d;}

	.c_wr {}

	.c_wr1 {margin-top: -17px;}

	.c_wr2 {background: #f0f0f0; padding: 30px 0;}

	.c_wr3 {padding: 20px 0 25px 0;}
		.c_wr3 .b_btn {padding-top: 10px; text-align: center;}
			.c_wr3 .b_btn .btn {min-width: 180px;}

	.c_wr4 {padding: 25px 0; border-top: 1px solid #dcdcdc;}

	.c_wr5 {padding: 35px 0 40px 0;}
		.c_wr5 .title1 {text-align: center;}

	.c_wr6 {background: #f0f0f0; padding: 40px 0;}
		.c_wr6 .title1 {text-align: center;}

	.c_wr7 {}
		.c_wr7 .thumb_b {
			max-height: 670px;
			margin: 0 -10px 60px -10px;
			overflow: hidden;
		}
			.c_wr7 .thumb_b img {width: 100%;}

	.c_wr8 {padding-bottom: 40px;}
		.c_wr8 .title1 {text-align: center;}

	.c_wr9 {}

	.slider {margin: 0 -70px;}
		.slider .slick-slide {/*height: 322px;*/}
			.slider .slick-slide img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		.slider_nav {
			position: absolute;
			top: 20px;
			right: 10px;
		}
		.slider_nav .slick-arrow {
			background: #285299;
			width: 50px;
			min-width: auto;
			height: 50px;
			padding: 0;
			border-radius: 0;
			z-index: 2;
			font-size: 0;
			line-height: 0;
		}
		.slider_nav .slick-prev {}
		.slider_nav .slick-next {margin-left: 1px;}
		.slider_nav .slick-prev::before,
		.slider_nav .slick-next::before {
			content: "";
			background: url(../public/i/arrow3.png);
			width: 13px;
			height: 25px;
			display: block;
			margin: 0 auto;
		}
		.slider_nav .slick-prev::before {background-position: 0 0;}
		.slider_nav .slick-next::before {background-position: -13px 0;}

	.b_info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 0 10px -20px;
	}
		.b_info .item {
			background: #fff;
			width: calc(33.3% - 20px);
			margin: 0 0 10px 20px;
			-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
			font-size: 13px;
		}
			.b_info a {
				display: block;
				width: 100%;
				height: 100%;
				min-height: 60px;
				padding: 16px 90px 16px 40px;
				position: relative;
				color: inherit;
				text-decoration: none;
			}
				.b_info img {
					position: absolute;
					top: 50%;
					right: 20px;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.b_info .title {
					margin-bottom: 0.5em;
					text-transform: uppercase;
					font-size: 15px;
					line-height: 1.22;
					letter-spacing: 0.1em;
					color: #000;
				}
				.b_info p {margin: 0;}

	.b_info1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -20px;
	}
		.b_info1 .item {
			background: #fff;
			width: calc(20% - 20px);
			margin: 0 0 20px 20px;
			border: 1px solid #dcdcdc;
			text-align: center;
		}
			.b_info1 a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 15px 15px 24px 15px;
				color: inherit;
				text-decoration: none;
			}
				.b_info1 img {
					display: block;
					width: 78px;
					height: 84px;
					margin: 0 auto 16px auto;
				}
				.b_info1 .title {
					font-weight: 600;
					font-size: 16px;
					letter-spacing: 0.01em;
					color: #000;
				}

	.b_info2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -20px;
	}
		.b_info2 .item {
			background: #fff;
			width: calc(25% - 20px);
			margin: 0 0 20px 20px;
			padding: 30px 30px 0 30px;
			border: 1px solid #dcdcdc;
		}
			.b_info2 .thumb {
				max-width: 220px;
				height: 216px;
				margin: 0 auto 14px auto;
			}
				.b_info2 .thumb img {
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
				}
				.b_info2 .label {
					background: #ffdd2d;
					width: 33px;
					height: 33px;
					border-radius: 50%;
					position: absolute;
					top: -11px;
					right: -11px;
					text-align: center;
					font-weight: 700;
					font-size: 14px;
					line-height: 33px;
					color: #2b2a29;
				}
			.b_info2 .descr {}
				.b_info2 .title {
					margin-bottom: 13px;
					text-align: center;
					font-weight: 600;
					font-size: 15px;
					letter-spacing: 0.01em;
					color: #000;
					height: 64px;
				}
					.b_info2 .title a {color: inherit; text-decoration: none;}
				.b_info2 .b_buy {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					margin-right: -30px;
					margin-left: -30px;
					padding: 14px 20px;
					border-top: 1px solid #dcdcdc;
					color: #000;
				}
					.b_info2 .price {margin-right: 10px;}
						.b_info2 .price span {
							-webkit-filter: blur(3px);
							-moz-filter: blur(3px);
							-o-filter: blur(3px);
							-ms-filter: blur(3px);
							filter: blur(3px);
						}
					.buy {
						background: #ffdd2d url(../public/i/cart1.png) center no-repeat;
						width: 60px;
						height: 38px;
						padding: 0;
						border: none;
						vertical-align: middle;
					}
					.buy_wr {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						-webkit-box-align: start;
						-ms-flex-align: start;
						align-items: flex-start;
						width: 130px;
					}
						.buy_wr .jq-number {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
						}
							.buy_wr .jq-number__field {width: 55px;}
								.buy_wr .jq-number__field input[type="number"] {
									padding-right: 8px;
									padding-left: 8px;
									text-align: center;
								}
						.buy_wr .buy {
							width: 54px;
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}

	.b_info3 {}
		.b_info3 .item {
			background: #fff;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			min-height: 282px;
			padding: 15px;
			position: relative;
		}
			.b_info3 .thumb {margin-right: 20px; margin-left: auto;}
				.b_info3 .thumb img {
					width: 100%;
					max-width: 210px;
					height: 100%;
					max-height: 200px;
				}
			.b_info3 .descr {
				background: #285299;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				width: 195px;
				height: 100%;
				padding: 18px 25px 25px 25px;
				position: absolute;
				top: 0;
				left: 0;
				color: #fff;
			}
				.b_info3 .descr a {color: inherit; text-decoration: none;}
				.b_info3 .head {}
					.b_info3 .head span {
						background: #ffdd2d;
						display: inline-block;
						margin-bottom: 10px;
						padding: 5px 10px;
						font-size: 11px;
						letter-spacing: 0.05em;
						color: #000;
					}
					.b_info3 .title {
						margin-bottom: 0.5em;
						font-weight: 600;
						font-size: 21px;
						line-height: 1.4;
						letter-spacing: normal;
					}
				.b_info3 .foot {}
					.b_info3 .price {font-weight: 600; font-size: 15px;}
						.b_info3 .price span {margin: 0 4px; font-size: 24px;}
					.b_info3 .b_lnk {padding-top: 25px;}
						.b_info3 .b_lnk a {
							display: inline-block;
							font-size: 11px;
							letter-spacing: 0.1em;
							text-transform: uppercase;
						}
						.b_info3 .b_lnk a::after {
							content: "";
							background-image: url(../public/i/arrow7.png);
							display: inline-block;
							vertical-align: middle;
							width: 24px;
							height: 24px;
							margin-left: 20px;
							opacity: 0.5;
						}
						.b_info3 .b_lnk a:hover::after {opacity: 1;}

	.b_info4 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		/* justify-content: space-around; */
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
		.b_info4 .thumb {margin: 5px 10px;}
			.b_info4 img {max-width: 60px; max-height: 60px;}

	.b_info5 {
		display: table;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 0px;
		color: #000;
	}
		.b_info5 .tr {display: table-row; border: 1px solid #dcdcdc;}
			.b_info5 .td {
				display: table-cell;
				vertical-align: middle;
				padding: 11px 40px 11px 0;
			}
			.b_info5 .td:nth-child(1) {
				width: 110px;
				padding-right: 20px;
				padding-left: 20px;
			}
			.b_info5 .td:nth-child(2) {}
			.b_info5 .td:nth-child(3) {}
			.b_info5 .td:nth-child(4) {}
			.b_info5 .td:nth-child(5) {}
			.b_info5 .td:nth-child(6) {width: 128px; padding-right: 20px;}
				.b_info5 .thumb {
					width: 70px;
					padding-right: 18px;
					position: relative;
				}
					.b_info5 .thumb img {
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
					}
					.b_info5 .label {
						background: #ffdd2d;
						width: 22px;
						height: 22px;
						border-radius: 50%;
						position: absolute;
						top: 0;
						right: 0;
						font-weight: 700;
						font-size: 10px;
						line-height: 22px;
						text-align: center;
					}
				.b_info5 .title {
					font-weight: 700;
					font-size: 15px;
					letter-spacing: 0.01em;
				}
					.b_info5 .title a {color: inherit; text-decoration: none;}
				.b_info5 .td:nth-child(3) span,
				.b_info5 .td:nth-child(4) span {color: #939393;}
				.b_info5 .price {white-space: nowrap;}

	.b_info6 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -20px;
	}
		.b_info6 .item {
			background: #fff;
			width: calc(25% - 20px);
			margin: 0 0 20px 20px;
			padding: 20px;
			font-size: 13px;
			color: #000;
			text-align: center;
		}
			.b_info6 .thumb {
				width: 165px;
				height: 165px;
				margin: 0 auto 25px auto;
				border-radius: 50%;
				overflow: hidden;
			}
			.b_info6 .title {
				min-height: 32px;
				margin-bottom: 0.8em;
				font-weight: 700;
				line-height: 1.22;
				text-transform: uppercase;
			}
			.b_info6 p {margin-bottom: 0.6em;}
			.b_info6 p:last-child {margin-bottom: 0;}
				.b_info6 a[href^="tel"] {
					background: url(../public/i/ico_d1.png) 0 center no-repeat;
					display: inline-block;
					padding-left: 18px;
					color: #285299;
				}

	.b_info7 {}
		.b_info7 .item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin-bottom: 60px;
		}
			.b_info7 .thumb {
				-ms-flex-negative: 0;
				flex-shrink: 0;
				width: 45%;
			}
				.b_info7 .thumb img {max-width: 100%;}
			.b_info7 .descr {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				padding-left: 75px;
			}
				.b_info7 .descr p:last-child {margin-bottom: 0;}
			.b_info7 .item:nth-child(odd) .thumb {
				-webkit-box-ordinal-group: 2;
				-ms-flex-order: 1;
				order: 1;
			}
			.b_info7 .item:nth-child(odd) .descr {padding-right: 75px; padding-left: 0;}

	.b_info8 {
		display: table;
		width: 100%;
		border: 1px solid #dcdcdc;
		border-collapse: collapse;
		color: #000;
	}
		.b_info8 .tr {display: table-row; border-top: 1px solid #dcdcdc;}
		.b_info8 .tr.v1 {border-top-width: 0;}
			.b_info8 .td {
				display: table-cell;
				vertical-align: middle;
				padding: 16px 0 16px 20px;
			}
			.b_info8 .tr.v1 .td {padding-top: 13px;}
			.b_info8 .td:nth-child(1) {width: 72px;}
			.b_info8 .td:nth-child(2) {}
			.b_info8 .td:nth-child(3) {width: 140px;}
			.b_info8 .td:nth-child(4) {width: 100px;}
			.b_info8 .td:nth-child(5) {width: 53px; padding-right: 20px;}
				.b_info8 .thumb {width: 52px;}
					.b_info8 .thumb img {
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
					}
				.b_info8 .title {
					margin-bottom: 0.2em;
					font-weight: 700;
					font-size: 15px;
					letter-spacing: 0.01em;
				}
					.b_info8 .title a {color: inherit; text-decoration: none;}
				.b_info8 .art {font-size: 13px;}
					.b_info8 .art span {color: #939393;}
				.b_info8 .price {white-space: nowrap;}
				.b_info8 .del {
					background: url(../public/i/x2.png) center no-repeat;
					vertical-align: middle;
					width: 13px;
					height: 13px;
					padding: 0;
					border-radius: 0;
				}

	.b_info9 {
		display: table;
		width: 100%;
		border-collapse: collapse;
		color: #000;
	}
		.b_info9 .tr {display: table-row; border: 1px solid #dcdcdc;}
			.b_info9 .td {
				display: table-cell;
				vertical-align: middle;
				padding: 16px 0 16px 20px;
			}
			.b_info9 .td:nth-child(1) {width: 72px;}
			.b_info9 .td:nth-child(2) {}
			.b_info9 .td:nth-child(3) {}
			.b_info9 .td:nth-child(4) {padding-right: 20px;}
				.b_info9 .thumb {width: 52px;}
					.b_info9 .thumb img {
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
					}
				.b_info9 .title {
					margin-bottom: 0.2em;
					font-weight: 700;
					font-size: 15px;
					letter-spacing: 0.01em;
				}
					.b_info9 .title a {color: inherit; text-decoration: none;}
				.b_info9 .art {font-size: 13px;}
					.b_info9 .art span {color: #939393;}
				.b_info9 .price {white-space: nowrap;}
				.b_info9 .del {
					background: url(../public/i/x2.png) center no-repeat;
					width: 13px;
					height: 13px;
					padding: 0;
					border-radius: 0;
					vertical-align: middle;
				}

	.b_info10_wr {
		padding-left: 25px;
		border-left: 3px solid #285299;
		font-size: 13px;
	}
		.b_info10_wr .head {
			margin-bottom: 0.5em;
			line-height: 1.22;
			color: #7a7b7b;
		}
		.b_info10 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: -20px;
		}
			.b_info10 a {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-preferred-size: 25%;
				flex-basis: 25%;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				max-width: 200px;
				margin-left: 20px;
				color: inherit;
				text-decoration: none;
			}
			.b_info10 a:hover {color: #285299;}
				.b_info10 img {width: 50px;}

	.carousel {padding: 0 17px;}
		.carousel .slick-slide {margin: 0 10px;}
		.carousel .slick-arrow {
			background: url(../public/i/arrow4.png);
			width: 17px;
			min-width: auto;
			height: 32px;
			margin-top: -16px;
			padding: 0;
			border-radius: 0;
			position: absolute;
			top: 50%;
			z-index: 2;
			font-size: 0;
			line-height: 0;
		}
		.carousel .slick-prev {background-position: 0 0; left: 0;}
		.carousel .slick-next {background-position: -17px 0; right: 0;}

	.m_head {}
		.mh_back {
			display: none;
			width: 24px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 10px;
		}
		.mh_back::before {
			content: "";
			background: url(../public/i/arrow10.png) 0 center no-repeat;
			display: block;
			width: 8px;
			height: 100%;
		}

	.sort_wr {margin-bottom: 25px; border-bottom: 1px solid #ebecec;}
		.sort_wr .in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
			.sort_wr .item {margin-right: 32px; color: #939393;}
			/* .sort_wr .item:nth-child(3) {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
			} */
			.sort_wr .item:nth-last-child(2) {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
			}
			.sort_wr .item:last-child {margin-right: 0;}
				.sort_wr label {white-space: nowrap;}
				.sort_wr select,
				.sort_wr .jq-selectbox {width: auto;}


	.warning {
		background: #e12c63;
		margin-bottom: 25px;
		padding: 19px 0;
		font-size: 18px;
		color: #fff;
		text-align: center;
	}
	.warning2 {
		background: #e12c63;
		margin-bottom: 25px;
		padding: 19px 0;
		font-size: 18px;
		color: #fff;
		text-align: center;
	}
		.warning p:last-child {margin: 0;}
			.warning a {color: inherit;}
		.warning2 p:last-child {margin: 0;}
			.warning2 a {color: inherit;}

	.pagination_wr {
		position: relative;
		margin: 30px 0;
		padding: 0 100px;
		color: #000;
	}
		.pagination_wr a {color: inherit; text-decoration: none;}
		.pg_nav {}
			.pg_nav .prev,
			.pg_nav .next {
				display: block;
				height: 52px;
				margin-top: -26px;
				padding-top: 3px;
				padding-bottom: 3px;
				position: absolute;
				top: 50%;
				line-height: 46px;
			}
			.pg_nav .prev {padding-left: 20px; left: 0;}
			.pg_nav .next {padding-right: 20px; right: 0;}
			.pg_nav .prev::before,
			.pg_nav .next::before {
				content: "";
				background-image: url(../public/i/arrow6.png);
				width: 7px;
				height: 13px;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			.pg_nav .prev::before {background-position: 0 0; left: 0;}
			.pg_nav .next::before {background-position: -7px 0; right: 0;}
		.pg_num {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
			.pg_num a {
				width: 46px;
				height: 46px;
				margin: 3px;
				border-radius: 50%;
				line-height: 46px;
				text-align: center;
			}
			.pg_num a.active {background: #ffdd2d;}

	.m_cat {
		padding-top: 30px;
		font-size: 13px;
		color: #000;
	}
		.m_cat .in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
			.m_cat .col {width: 25%; padding-right: 20px;}
			.m_cat .col:last-child {padding-right: 0;}
				.m_cat .title {
					margin-bottom: 1.5em;
					font-weight: 700;
					text-transform: uppercase;
				}
				.m_cat ul {
					margin-bottom: 3.5em;
					padding: 0;
					list-style: none;
				}
					.m_cat li {margin-bottom: 0.8em;}
						.m_cat ul a {color: inherit; text-decoration: none;}
						.m_cat ul a:hover {color: #285299; text-decoration: underline;}

						.m_cat ul ul {
							margin-left: 30px;
							margin-top: 0.8em;
							margin-bottom: 0.8em;
						}
						.m_cat ul ul ul {
							margin-left: 60px;
							margin-top: 0.8em;
							margin-bottom: 0.8em;
						}

	.m_address {
		padding: 20px 0;
		line-height: 2;
		color: #000;
		text-align: center;
	}
		.m_address p {margin-bottom: 1.1em;}
		.m_address p:last-child {margin-bottom: 0;}
			.m_address span {
				font-weight: 600;
				font-size: 36px;
				line-height: 1;
			}

	.map_wr {
		border-bottom: 3px solid #ffdd2d;
		position: relative;
		overflow: hidden;
	}
		.map_wr > .in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-top: 35px;
			padding-bottom: 35px;
			min-height: 395px;
		}
			.feedback {
				background: #285299;
				width: 280px;
				padding: 28px;
				position: relative;
				z-index: 2;
				color: #fff;
			}
				.feedback .title {
					margin-bottom: 1em;
					font-weight: 600;
					font-size: 16px;
					line-height: 1.22;
					letter-spacing: 0.01em;
				}
				.feedback .f_row {margin-bottom: 7px;}
					.feedback input[type="text"],
					.feedback input[type="password"],
					.feedback input[type="email"],
					.feedback input[type="number"],
					.feedback input[type="search"],
					.feedback input[type="tel"],
					.feedback input[type="url"],
					.feedback select,
					.feedback textarea {padding: 7px 18px; border-radius: 0;}
					.feedback textarea {height: 86px;}
				.feedback .b_btn {}
					.feedback .b_btn input {width: 100%; padding: 7px 18px;}
		.map {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
			.map iframe {width: 100%; height: 100%;}

	.table1 {
		width: 100%;
		margin-bottom: 15px;
		border-top: 1px solid #dcdcdc;
		color: #000;
	}
		.table1 td {
			padding: 14px 20px 14px 0;
			border-bottom: 1px solid #dcdcdc;
		}
		.table1 td:last-child {padding-right: 0; text-align: right;}
			.table1 .label {
				display: inline-block;
				min-width: 74px;
				margin: 2px 0 2px 7px;
				padding: 5px 8px;
				border-radius: 5px;
				font-size: 10px;
				letter-spacing: 0.1em;
				text-align: center;
				text-transform: uppercase;
			}
			.table1 .label.v1 {background: #285299; color: #fff;}
			.table1 .label.v2 {background: #ffdd2d; color: #000;}

	.form_wr {
		background: #f0f0f0;
		width: 100%;
		max-width: 580px;
		margin: 55px auto;
		padding: 35px;
		color: #000;
	}
		.form_wr .title {
			margin-bottom: 1.7em;
			font-weight: 300;
			font-size: 18px;
			letter-spacing: 0.01em;
			text-align: center;
		}
		.form_wr .label {
			margin: 2px 0;
			font-size: 12px;
			text-transform: uppercase;
		}
		.f_add {
			margin-bottom: 20px;
			padding: 0 20px;
			font-size: 12px;
		}
		.form_wr > .f_row:last-child {margin-bottom: 0;}
		.form_wr .cols {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
			.form_wr .cols .f_row {width: 50%; /* border-right: 1px solid #dddddd; */}
			.form_wr .cols .f_row:nth-child(2):after {
				content: "";
				background: #dddddd;
				position: absolute;
				top: 0;
				left: 0;
				height: 46px;
				width: 1px;
			}
			.form_wr .cols .f_row:last-child {border-right-width: 0;}
				.form_wr .cols .f_row > *,
				.form_wr .cols .f_row .jq-selectbox__select {border-radius: 0;}
				.form_wr .cols .f_row:first-child > *,
				.form_wr .cols .f_row:first-child .jq-selectbox__select {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
				.form_wr .cols .f_row:last-child > *,
				.form_wr .cols .f_row:last-child .jq-selectbox__select {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
		.form_wr .b_btn {padding-top: 27px; text-align: center;}
			.form_wr .b_btn input,
			.form_wr .b_btn button {min-width: 222px;}
			.form_wr .b_btn p {margin: 25px 0 0 0;}
				.form_wr .b_btn a {color: #939393; text-decoration: none;}
				.form_wr .b_btn a:hover {text-decoration: underline;}

	.history_wr {margin-bottom: 30px; color: #000;}
		.history_wr > .head {
			background: #f0f0f0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin-bottom: 10px;
			padding: 18px 18px 18px 25px;
		}
			.history_wr .head .info {
				background: url(../public/i/ico_e1.png) 0 center no-repeat;
				margin-right: 15px;
				padding-left: 35px;
			}
				.history_wr .head .info select,
				.history_wr .head .info .jq-selectbox {width: auto;}
			.history_wr .print { line-height: 30px;}
				.history_wr .print a {
					background: url(../public/i/ico_e2.png) 0 center no-repeat;
					display: inline-block;
					padding-left: 28px;
					color: inherit;
					text-decoration: none;
				}
		.history {}
			.history .ui-icon {display: none;}
			.history .ui-accordion .ui-accordion-header {
				display: table-row;
				margin: 0;
				padding: 0;
				/*-webkit-transition: none;
				-o-transition: none;
				transition: none;*/
			}
			.history .ui-accordion .ui-accordion-content {
				padding: 0;
				/*-webkit-transition: none;
				-o-transition: none;
				transition: none;*/
			}
			.ui-helper-reset {line-height: 1.5;}

			.history table {width: 100%;}
				.history tr {border-bottom: 1px solid #e1e1e1; cursor: pointer;}
					.history th,
					.history td {padding-left: 25px;}
					.history th {
						padding-top: 15px;
						padding-bottom: 15px;
						font-size: 12px;
						color: #9aa1a9;
						white-space: nowrap;
						text-transform: uppercase;
					}
					.history th:nth-child(9) {width: 70px; padding-right: 25px;}
					.history td {
						padding-top: 10px;
						padding-bottom: 10px;
						vertical-align: middle;
					}
					.history .ui-accordion .ui-accordion-content td {padding: 0; position: relative;}
					.history td:nth-child(2),
					.history td:nth-child(3),
					.history td:nth-child(6) {white-space: nowrap;}
						.history .reload {
							background: url(../public/i/ico_f1.png) center no-repeat;
							width: 20px;
							min-width: auto;
							height: 22px;
							padding: 0;
							border: none;
							border-radius: 0;
						}
						.history .ddown {
							background: #fff;
							width: calc(100% + 60px);
							margin-top: -1px;
							margin-left: -30px;
							padding: 30px;
							-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
							box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
						}
							.history .ddown .close {
								background-image: url(../public/i/x1.png);
								width: 17px;
								height: 17px;
								position: absolute;
								top: 5px;
								right: 0;
								cursor: pointer;
							}
							.history .ddown .cols {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
							}
								.history .ddown .col:nth-child(1) {
									-webkit-box-flex: 1;
									-ms-flex-positive: 1;
									flex-grow: 1;
								}
								.history .ddown .col:nth-child(2) {
									width: 255px;
									margin-left: 20px;
								}
									.history .ddown .order_detail .info p:last-child {margin-bottom: 0;}

	.m_register {padding-top: 35px;}
		.m_register .head {
			max-width: 630px;
			margin: 0 auto;
			padding-bottom: 10px;
			text-align: center;
		}
			.m_register .head h1 {margin-bottom: 0.5em;}
		.m_register .form_wr {margin-top: 0;}

	.b_404 {}
		.b_404 img {
			width: 100%;
			height: 100%;
			min-height: 400px;
			-o-object-fit: cover;
			object-fit: cover;
		}

	.b_detail {margin-bottom: 40px; padding-top: 23px;}
		.b_detail .in {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
			.b_detail .thumb {
				width: 50%;
				max-width: 545px;
				/* margin-top: 5px; */
				padding: 0px 0 0 30px;
			}
				.b_detail .thumb img {
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
				}
				.b_detail .label {
					background: #ffdd2d;
					width: 33px;
					height: 33px;
					border-radius: 50%;
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					font-weight: 700;
					font-size: 14px;
					line-height: 33px;
					color: #2b2a29;
				}
			.b_detail .descr {
				-webkit-box-ordinal-group: 0;
				-ms-flex-order: -1;
				order: -1;
				width: 50%;
				max-width: 580px;
				padding: 30px 40px 0 40px;
				border: 1px solid #dcdcdc;
				font-size: 13px;
				color: #000;
			}
				.b_detail .descr .txt {max-width: 400px;height: 352px;}
					.b_detail .descr h1 {margin-bottom: 1.4em;}
					.b_detail .descr table {line-height: 1.6;}
						.b_detail .descr th,
						.b_detail .descr td {padding-bottom: 13px;}
						.b_detail .descr th {padding-right: 15px; color: #939393;}
						.b_detail .descr td {}
				.b_detail .b_buy {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					margin: 25px -40px 0 -40px;
					padding: 28px 40px;
					border-top: 1px solid #dcdcdc;
				}
					.b_detail .price {margin-right: 20px; color: #939393;}
						.b_detail .price span {
							display: block;
							font-weight: 700;
							font-size: 21px;
							letter-spacing: 0.01em;
							color: #000;
						}
					.b_detail .buy_wr {
						-ms-flex-negative: 0;
						flex-shrink: 0;
					}
			.b_detail .advert {
				background: #fff;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				margin-top: 30px;
				padding: 18px;
				border: 2px solid #285299;
				color: #000;
			}
				.b_detail .advert img {
					-ms-flex-negative: 0;
					flex-shrink: 0;
					margin-right: 52px;
				}
				.b_detail .advert p {margin: 0;}
				.b_detail .advert strong {font-weight: 600; font-size: 16px;}

	.order_wr {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 25px;
	}
		.order_wr > .col:nth-child(1) {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}
		.order_wr > .col:nth-child(2) {width: 280px; margin-left: 20px;}
			.order_detail {
				background: #f0f0f0;
				padding: 30px 25px 25px 25px;
				padding-left: 30px;
				font-size: 13px;
				color: #939393;
			}
			.order_detail.v1 {margin-top: 27px;}
				.order_detail .info {}
					.order_detail .info p {margin-bottom: 1.1em;}
						.order_detail .info span {
							display: block;
							font-size: 14px;
							color: #000;
						}
						.order_detail .info p:last-child span {font-weight: 700; font-size: 21px;}
				.order_detail .b_btn {padding-top: 28px;}
					.order_detail .b_btn input,
					.order_detail .b_btn button {width: 100%;}

			.order_wr fieldset {padding-bottom: 30px;}
				.order_wr legend {
					width: 100%;
					margin-bottom: 0.6em;
					font-size: 13px;
					letter-spacing: 0.1em;
					color: #939393;
					text-transform: uppercase;
				}

			.order_wr .form_wr {
				max-width: none;
				margin: 0 0 15px 0;
				padding: 30px 35px;
			}

	.order_finish {
		max-width: 750px;
		margin: 0 auto;
		padding: 98px 0;
		text-align: center;
	}
		.order_finish .title {
			margin-bottom: 2.2em;
			font-weight: 700;
			font-size: 30px;
			letter-spacing: 0.01em;
			color: #000;
		}
		.order_finish .num {
			background: #e12c63;
			width: 330px;
			margin: 0 auto 20px auto;
			padding: 19px;
			font-size: 18px;
			color: #fff;
		}
		.order_finish p {
			max-width: 600px;
			margin-right: auto;
			margin-left: auto;
		}
		.order_finish .b_btn {padding-top: 50px;}
			.order_finish .b_btn input,
			.order_finish .b_btn button,
			.order_finish .b_btn .btn {min-width: 222px;}

/* -------------------------------
	Footer 
------------------------------- */
#footer {
	background: #0c1c36;
	padding: 45px 0 38px 0;
	position: relative;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: #9d9e9e;
	text-transform: uppercase;
}

	#footer > .in {}

		#footer .row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		#footer .row:nth-child(1) {padding-bottom: 28px;}
			#footer .row > .col:nth-child(1) {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 736px;
			}
			#footer .row > .col:nth-child(2) {}
			#footer .row:nth-child(2) > .col:nth-child(1) {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}

		.f_menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1.22;
			letter-spacing: 0.2em;
		}
			.f_menu li {margin-right: 15px;}
			.f_menu li:last-child {margin-right: 0;}
				.f_menu a {color: #fff; text-decoration: none;}
				.f_menu a:hover,
				.f_menu li.active a {color: #ffdd2d;}
				
		.copy {padding: 10px 15px 10px 0;}
		.copy a{    
			color: #9d9e9e;
			line-height: 26px;
			text-decoration: none;
		}

		.mailer {width: 330px; padding: 0px 15px 10px 0;}
			.mailer .title {margin-bottom: 5px; font-size: 11px;}
			.mailer .ok {margin-bottom: 5px; font-size: 11px; color: green;}
			.mailer .nok {margin-bottom: 5px; font-size: 11px; color: tomato;}
			.mailer .hide {display: none;}
			.mailer form {
				position: relative;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
				.mailer input[type="text"],
				.mailer input[type="email"] {
					padding: 8px 16px;
					font-size: 13px;
					line-height: 18px;
				}
				.mailer input[type="submit"] {
					margin-left: 5px;
					padding: 7px 18px;
					font-size: 11px;
				}
		
		#footer .contacts {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			letter-spacing: 0.2em;
			color: #fff;
		}
			#footer .contacts p {margin: 0 45px 0 0;}
			#footer .contacts p:last-child {margin-right: 0;}
				#footer .contacts a[href^="mailto"] {color: #ffdd2d; text-decoration: none;}

		#footer .social {padding-top: 23px;}
			#footer .social a {margin-right: 23px;}
			#footer .social a:last-child {margin-right: 0;}

@media screen and (min-width: 1250px) {
	.c_wr7 .thumb_b {margin-right: -70px; margin-left: -70px;}

	.carousel {
		margin-right: -10px;
		margin-left: -10px;
		padding: 0;
	}
	.carousel .slick-prev {left: -26px;}
	.carousel .slick-next {right: -26px;}
}

@media screen and (max-width: 1150px) {
	.h_cat .ctrl {padding: 0 10px;}

	.h_menu {padding-left: 10px;}
		.h_menu > li {margin-right: 5px;}

	.lang,
	.h_login,
	.h_cart {margin-left: 20px;}

	.lang .ddown {
		width: 110px;
		padding-right: 10px;
		padding-left: 10px;
		left: -10px;
	}

	.b_info a {padding-left: 20px;}

	.b_info2 .item {padding: 20px 20px 0 20px;}
		.b_info2 .b_buy {margin-right: -20px; margin-left: -20px;}

	.b_info3 .descr {padding: 18px 20px 20px 20px;}

	.history_wr > .head {padding-left: 20px;}
	.history th,
	.history td {padding-left: 20px;}
	.history th:nth-child(9) {padding-right: 20px;}
	.history .ddown {
		width: 100%;
		margin-left: 0;
		padding: 30px 10px;
	}

	#footer .contacts p {margin-right: 25px;}
}

@media screen and (max-width: 1070px) {
	#header {
		width: 100%;
		-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
		position: fixed;
		top: 0;
		left: 0;
	}
		.logo {top: -4px; left: 34px;}
			.logo img {height: 84px;}

		#header .row.v1 {background: #264796;}
		#header .row.v1 .in {padding-right: 0; padding-left: 160px;}
		#header .row.v1 .in::before {display: none;}
		#header .row.v1 .in::after {
			width: 90px;
			height: 100%;
			left: 0;
		}
		#header .row.v1 .in > .col {background: #fff;}
		#header .row.v1 .in > .col.v1 {
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			border: none;
		}
		#header .row.v1 .in > .col.v2 {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding-right: 10px;
			padding-left: 30px;
		}

		#header .row.v2 {display: none;}

		.search_ctrl_mob {display: block;}

		.h_cat {display: none;}

		.h_menu {display: none;}

		.m_ctrl {display: block;}

		.mob_menu_in .h_cat {display: block;}

	#main {padding-top: 70px;}

	#footer {padding: 30px 0;}
		#footer .row:nth-child(1) {display: none;}
		#footer .row > .col:nth-child(1) {max-width: none;}
		#footer .row:nth-child(2) > .col:nth-child(2) {display: none;}
}

@media screen and (max-width: 1050px) {
	.b_info2 .item {width: calc(33.3% - 20px);}

	.sort_wr .item {margin-right: 20px;}

	.b_info5 .td {padding-right: 20px;}

	.b_info7 .descr {padding-left: 30px;}
	.b_info7 .item:nth-child(odd) .descr {padding-right: 30px;}

	.b_info8 .td:nth-child(3) {width: auto;}

	.order_finish {padding: 30px 0;}
}

@media screen and (max-width: 980px) {
	.b_detail .slick-prev {
		left:0 !important;
		color:#fff !important;
	}
	.b_detail .slick-next {
		right:0 !important;
		color:#fff !important;
	}
	.b_detail .slick-prev:hover:after,
.b_detail .slick-next:hover:after {
    color: #fff !important;
}
	.tbl_overflow {
		padding-bottom: 15px;
		overflow: auto;
		position: relative;
	}
		.tbl_overflow table {min-width: 960px;}

	.b_info1 {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
		.b_info1 .item {width: calc(33.3% - 20px);}

	.b_info4 {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.b_info6 .item {width: calc(33.3% - 20px);}

	.tabs_wr .ui-tabs-nav li {
		margin-right: 8px;
		margin-left: 8px;
		padding-right: 0;
		padding-left: 0;
	}	.tabs_wr .ui-tabs-nav li {
		margin-right: 8px;
		margin-left: 8px;
		padding-right: 0;
		padding-left: 0;
	}
	.tabs_wr_profile .ui-tabs-nav li {
		margin-right: 8px;
		margin-left: 8px;
		padding-right: 0;
		padding-left: 0;
	}	.tabs_wr_profile .ui-tabs-nav li {
		margin-right: 8px;
		margin-left: 8px;
		padding-right: 0;
		padding-left: 0;
	}

	.b_detail .in {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
		.b_detail .thumb {
			width: 100%;
			max-width: 515px;
			margin: 0 auto 20px auto;
			padding-left: 0;
		}
		.b_detail .descr {
			-webkit-box-ordinal-group: 1;
			-ms-flex-order: 0;
			order: 0;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		.b_detail .advert {
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
		}
}

@media screen and (max-width: 800px) {
	.m_cat .col {width: 33.3%;}

	.b_info7 .item {display: block;}
		.b_info7 .thumb {width: auto; margin-bottom: 20px;}
		.b_info7 .descr {padding-left: 0;}
		.b_info7 .item:nth-child(odd) .descr {padding-right: 0;}
			.b_info7 .descr p:last-child {margin-bottom: 1.5em;}

	.b_info8 {margin-bottom: 30px;}

	.order_wr {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.order_wr > .col:nth-child(1) {
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
		}
		.order_wr > .col:nth-child(2) {
			width: 100%;
			max-width: 320px;
			margin: 0 auto;
		}

	.order_finish .title {margin-bottom: 1em;}
	.order_finish .b_btn {padding-top: 20px;}
}

@media screen and (max-width: 768px) {
	.b_info .item {width: calc(50% - 20px);}

	.b_info2 .item {width: calc(50% - 20px);}

	.b_info3 .thumb {margin-right: 0;}

	.b_info6 .item {width: calc(50% - 20px);}

	.sort_wr .in {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
		.sort_wr .item {
			width: 33.3%;
			margin-right: 0;
			padding-right: 15px;
		}
		.sort_wr .item:nth-child(3) {
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
		}

	.b_info5 .td {padding-right: 10px;}
	.b_info5 .td:nth-child(1) {
		width: 90px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.b_info5 .td:nth-child(6) {width: 118px; padding-right: 10px;}
		.b_info5 .title {font-size: 14px;}

	.b_info8 .title {font-size: 14px;}

	.order_finish .title {font-size: 25px;}
}

@media screen and (max-width: 640px) {
	#header .row.v1 .in {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		height: 34px;
		min-height: auto;
	}

	#header .row.v1 .in > .col {background: none;}
	#header .row.v1 .in > .col.v1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	#header .row.v1 .in > .col.v2 {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		padding: 0;
	}

	#header .row.v1 .lang,
	#header .row.v1 .h_login,
	#header .row.v1 .h_cart {display: none;}

	.logo {top: -2px; left: 60px;}
		.logo img {height: 47px;}

	.m_ctrl {width: 160px;}
	.search_ctrl_mob {background-image: url(../public/i/search3.png); margin-right: 40px;}

	.mob_menu_in .lang {display: block;}
	.mob_menu_in .h_login {display: block;}
	.mob_menu_in .h_cart {display: block;}
	.mob_menu_in .h_cat {margin-top: 20px;}

	.search_form.sf_mob {top: 35px;}
		.search_form.sf_mob form {
			display: block;
		}
			.search_form input[type="text"] {padding-right: 40px; padding-left: 10px;}
			.search_form.sf_mob button {
				background: url(../public/i/search2.png) center no-repeat;
				width: 40px;
				height: 100%;
				margin: 0;
				padding: 0;
				border-radius: 0;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 0;
				line-height: 0;
			}
			.search_form button::before {display: none;}
		.search_result {width: 100%;}
			.search_result .title {padding: 0 10px 0 5px; font-size: 12px;}

	#main {padding-top: 35px;}

		.slider .slick-slide {/*height: 320px;*/}

		.c_wr1 {margin-top: 0; padding-top: 20px;}

		.tabs_wr .ui-tabs-nav .ui-tabs-anchor {font-size: 15px;}
		.tabs_wr_profile .ui-tabs-nav .ui-tabs-anchor {font-size: 15px;}

		.tabs_wr.v1 .ui-tabs-nav li {
			margin-right: 0;
			margin-left: 0;
			padding: 8px 15px;
		}
		.tabs_wr_profile.v1 .ui-tabs-nav li {
			margin-right: 0;
			margin-left: 0;
			padding: 8px 15px;
		}

		.sort_wr .item {width: 50%;}

		.m_cat .col {width: 50%;}

		.b_info5 {
			display: block;
			width: auto;
			margin-right: -10px;
			margin-left: -10px;
		}
			.b_info5 .tr {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				min-height: 60px;
				margin-bottom: 12px;
				padding: 0 10px 15px 72px;
				border: none;
				border-bottom: 1px solid #dcdcdc;
				position: relative;
			}
				.b_info5 .td {display: block; padding: 0;}
				.b_info5 .td:nth-child(1) {
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 1;
					order: 1;
					width: 52px;
					padding: 0;
					position: absolute;
					top: 0;
					left: 10px;
				}
				.b_info5 .td:nth-child(2) {
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 1;
					order: 1;
					-ms-flex-item-align: start;
					align-self: flex-start;
					width: calc(100% - 120px);
					padding-bottom: 5px;
				}
				.b_info5 .td:nth-child(3) {
					-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
					order: 2;
					padding-right: 10px;
				}
				.b_info5 .td:nth-child(4) {
					-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
					order: 2;
					padding-right: 10px;
				}
				.b_info5 .td:nth-child(5) {
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 1;
					order: 1;
					-ms-flex-item-align: start;
					align-self: flex-start;
					width: 120px;
					padding-bottom: 5px;
					padding-left: 10px;
				}
				.b_info5 .td:nth-child(6) {
					-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
					order: 2;
					width: auto;
					padding: 0;
				}
					.b_info5 .thumb {width: 52px; padding-right: 0;}
					.b_info5 .price {font-weight: 700; text-align: right;}

		.b_info8 {
			display: block;
			width: auto;
			margin-right: -10px;
			margin-left: -10px;
			border: none;
		}
			.b_info8 .tr {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				min-height: 60px;
				margin-bottom: 12px;
				padding: 0 10px 15px 72px;
				border: none;
				border-bottom: 1px solid #dcdcdc;
				position: relative;
			}
				.b_info8 .td {display: block; padding: 0;}
				.b_info8 .td:nth-child(1) {
					width: 52px;
					position: absolute;
					top: 0;
					left: 10px;
				}
				.b_info8 .td:nth-child(2) {
					width: 100%;
					padding-right: 23px;
					margin-bottom: 10px;
				}
				.b_info8 .td:nth-child(3) {}
				.b_info8 .td:nth-child(4) {}
				.b_info8 .td:nth-child(5) {
					width: auto;
					padding: 0;
					position: absolute;
					top: 0;
					right: 10px;
				}
					.b_info8 .thumb {width: 52px;}
					.b_info8 .price {font-weight: 700;}
}

@media screen and (max-width: 600px) {
	#footer {padding: 21px 0;}

		#footer .row:nth-child(2) > .col:nth-child(1) {
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

			.copy {padding: 0; text-align: center;}

			.mailer {display: none;}
}

@media screen and (max-width: 550px) {
	.b_info {margin-bottom: 20px;}
		.b_info a {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-right: 65px;
			padding-left: 30px;
		}
			.b_info img {height: 44px;}
			.b_info .title {margin: 0;}
			.b_info p {display: none;}

	.b_info1 {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		position: relative;
	}
	.b_info1::after {
		content: "";
		background: url(../public/i/bkg1.jpg) center no-repeat;
		width: calc(50% - 20px);
		height: 165px;
		position: absolute;
		bottom: 20px;
		right: 0;
	}
		.b_info1 .item {width: calc(50% - 20px);}

	.map_wr > .in {
		display: block;
		min-height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
		.feedback {
			width: 100%;
			max-width: 360px;
			margin: 0 auto 30px auto;
		}
	.map {height: 320px; position: static;}
}

@media screen and (max-width: 500px) {
	body {font-size: 13px;}

	h1,
	.title1 {font-size: 20px;}
	h2 {font-size: 17px;}
	h3 {font-size: 15px;}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	select,
	textarea,
	.jq-selectbox__select,
	.jq-selectbox__dropdown {font-size: 13px;}

	.m_head {
		margin-bottom: 20px;
		padding: 10px 0;
		border-top: 1px solid #ebecec;
		border-bottom: 1px solid #ebecec;
	}
		.m_head h1 {margin: 0 24px; font-size: 15px;}

	.tabs_wr .ui-tabs-nav li {margin-right: 5px; margin-left: 5px;}
		.tabs_wr .ui-tabs-nav .ui-tabs-anchor {font-size: 13px;}
	.tabs_wr_profile .ui-tabs-nav li {margin-right: 5px; margin-left: 5px;}
		.tabs_wr_profile .ui-tabs-nav .ui-tabs-anchor {font-size: 13px;}

	.breadcrumbs {margin-bottom: 20px;}

	.slider_nav {
		width: 100%;
		top: auto;
		bottom: 0;
		right: 0;
		text-align: center;
	}

	.slider_nav .slick-arrow {
		width: 30px;
		height: 30px;
	}

	.mh_back {display: block;}

	.c_wr2,
	.c_wr5,
	.c_wr6 {padding: 25px 0;}

	.c_wr7 .thumb_b {margin-bottom: 30px;}

	.b_info .title,
	.b_info1 .title,
	.b_info2 .title,
	.b_info5 .title,
	.b_info8 .title {font-size: 13px;}

	.b_info {display: block; margin-left: 0;}
	.b_info .item {width: auto; margin-left: 0;}

	.b_info1 {margin-bottom: 20px; margin-left: -10px;}
	.b_info1::after {
		width: calc(50% - 10px);
		height: 127px;
		bottom: 10px;
	}
		.b_info1 .item {width: calc(50% - 10px); margin: 0 0 10px 10px;}
		.b_info1 a {padding: 10px 10px 20px 10px;}
			.b_info1 img {width: auto; height: 55px;}
			.b_info1 .title {font-size: 15px;}

	.b_info2 {display: block; margin: 0 -10px;}
		.b_info2 .item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 100%;
			margin: 0 0 18px 0;
			padding: 0 10px 18px 10px;
			border: none;
			border-bottom: 1px solid #ebecec;
		}
		.b_info2 .item:last-child {margin-bottom: 0; border-bottom: none;}
			.b_info2 .thumb {
				-webkit-box-ordinal-group: 2;
				-ms-flex-order: 1;
				order: 1;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				width: 110px;
				height: 110px;
				margin: 0 0 0 20px;
			}
			.b_info2 .descr {
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
			}
				.b_info2 .title {margin-bottom: 0.2em; text-align: left;}
				.b_info2 .b_buy {
					display: block;
					margin: 0;
					padding: 0;
					border: none;
				}
					.b_info2 .price {margin: 0 0 0.8em 0;}

	.b_info7 .item {margin-bottom: 30px; border-bottom: 1px solid #ebecec;}
	.b_info7 .item:last-child {border-bottom: none;}

	.form_wr {margin-top: 30px; margin-bottom: 30px;}
		.form_wr .title {font-size: 15px;}

	.tabs_wr .form_wr {margin-top: 0;}
	.tabs_wr_profile .form_wr {margin-top: 0;}

	.b_detail .descr {padding: 25px 20px 0 20px;}
		.b_detail .descr h1 {margin-bottom: 1em;}
		.b_detail .b_buy {
			margin-right: -20px;
			margin-left: -20px;
			padding: 15px 20px;
		}
		.b_detail .price {margin-right: 10px;}
			.b_detail .price span {font-size: 16px;}

	.b_detail .advert img {
		width: auto;
		height: 55px;
		margin-right: 20px;
	}
	.b_detail .advert strong {font-size: 15px;}

	.warning {padding: 10px 0; font-size: 14px;}

	.order_finish .title {font-size: 20px;}
	.order_finish .num {
		display: inline-block;
		width: auto;
		padding: 10px 20px;
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	.c_wr4 {display: none;}
	.buy_wr {
		width: 115px;
	}
	.sort_wr .in {display: block;}
		.sort_wr .item {
			width: auto;
			padding-right: 0;
			border-bottom: 1px solid #ebecec;
		}
		.sort_wr .item:last-child {border-bottom: none;}

	.b_info5 .tr {padding-left: 65px;}
		.b_info5 .td:nth-child(1) {width: 45px;}
		.b_info5 .td:nth-child(2) {width: calc(100% - 90px);}
		.b_info5 .td:nth-child(3),
		.b_info5 .td:nth-child(4) {font-size: 12px;}
			.b_info5 .td:nth-child(3) span {display: none;}
		.b_info5 .td:nth-child(5) {width: 90px;}
			.b_info5 .thumb {width: 45px;}

				.buy_wr .jq-number {padding-right: 16px;}
					.buy_wr .jq-number__field {width: 45px}
						.buy_wr .jq-number__field input[type="number"] {
							padding-right: 0;
							font-size: 13px;
							text-align: left;
						}
					.buy_wr .jq-number__spin {right: 5px;}
				.buy {width: 45px;}

	.b_info6 {
		display: block;
		max-width: 360px;
		margin-right: auto;
		margin-left: auto;
	}
	.b_info6 .item {width: auto; margin-left: 0;}

	.b_info8 .tr {padding-left: 65px;}
		.b_info8 .td:nth-child(1) {width: 45px;}
			.b_info8 .thumb {width: 45px;}
			.b_info8 .art {font-size: 12px;}

	.pagination_wr {padding-right: 0; padding-left: 0;}
		.pg_nav {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-bottom: 10px;
		}
		.pg_nav .prev,
		.pg_nav .next {
			margin: 0 20px;
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			font-size: 13px;
		}

	.table1,
	.table1 tbody,
	.table1 tr,
	.table1 th,
	.table1 td {display: block;}
		.table1 tr {padding: 15px 0; border-bottom: 1px solid #dcdcdc;}
		.table1 td {padding: 0 0 5px 0; border: none;}
		.table1 td:last-child {padding-bottom: 0; text-align: left;}
			.table1 .label {margin-right: 7px; margin-left: 0;}

	.form_wr,
	.order_wr .form_wr {padding: 25px 20px;}

	.order_wr .form_wr {margin-bottom: 0;}

	.order_detail {padding: 25px 20px;}

	.switch1 span {
		padding-right: 20px;
		padding-left: 20px;
		font-size: 12px;
	}
		.switch1 strong {font-size: 13px;}

	.history_wr .head {display: block; padding-right: 10px;}
		.history_wr .head .info {margin: 0 0 15px 0; padding-left: 28px;}
}

@media screen and (max-width: 360px) {
	.search_ctrl_mob {margin-right: 20px;}

	.b_info1::after {height: 111px;}
	.b_info1 a {padding-bottom: 15px;}
		.b_info1 img {margin-bottom: 10px;}

	.b_info3 .item {min-height: 195px;}
		.b_info3 .thumb img {max-width: 150px; max-height: 170px;}
		.b_info3 .descr {width: 135px; padding: 15px;}
			.b_info3 .head span {padding: 3px 5px; font-size: 8px;}
			.b_info3 .title {font-size: 15px;}
			.b_info3 .price {font-size: 13px;}
				.b_info3 .price span {font-size: 15px;}
			.b_info3 .b_lnk {padding-top: 10px;}
				.b_info3 .b_lnk a {font-size: 8px;}
				.b_info3 .b_lnk a::after {
					background-size: contain;
					width: 16px;
					height: 16px;
					margin-left: 10px;
				}

	.m_cat {padding-top: 0;}
		.m_cat .in {display: block;}
			.m_cat .col {width: auto; padding-right: 0;}
				.m_cat ul {margin-bottom: 2em;}

	.form_wr .cols {display: block;}
		.form_wr .cols .f_row {width: auto; border-right-width: 0;}
			.form_wr .cols .f_row > *,
			.form_wr .cols .f_row .jq-selectbox__select {border-radius: 5px;}

	.b_detail .descr table,
	.b_detail .descr tbody,
	.b_detail .descr tr,
	.b_detail .descr th,
	.b_detail .descr td {display: block;}
		.b_detail .descr tr {margin-bottom: 1em;}
		.b_detail .descr tr:last-child {margin-bottom: 0;}
			.b_detail .descr th,
			.b_detail .descr td {padding: 0;}

	.b_detail .b_buy {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
		.b_detail .price {margin: 0 0 0.5em 0;}
			.b_detail .price span {display: inline;}
		.b_detail .buy_wr {margin-top: 10px;}
}

.f_row input {
	border:1px solid #fff;
}

.error {
	color: tomato;
}

.b_buy {
	position: relative;
}

#alertMsg {
	display: none;
	position: absolute;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ffdd2d;
	font-weight: 700;
	font-size: 18px;
	top: 0px;
	bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    line-height: 3.5em;
}

.loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
    right: 100px;
    top: 8px;
}

  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .mailer .fa, .feedback .fa {
	position: absolute;
    top: 11px;
    right: 3px;
    color: #000;
}
.feedback .hide {
	display: none;
}

.feedback .ok {
	text-align: center;
	padding: 3px;
}


.daterange label {
	float: left;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
}
.daterange input {
	width: 205px;
    float: left;
    height: 30px;
}

@media screen and (max-width: 480px) {
	.daterange label {
		float: none;

	}
	.daterange input {
		float: none;
	}
}

.ok {
	color : green;
}

#dealer-styler {
	display: none !important;
} 

#dealer_chosen {
	margin-left: 16px;
	width: 220px !important;
}
.in.classafter1::after {
	width: 500px !important;
	height: 100% !important;
}

.b_info2 > .head {
	background: #f0f0f0;
	padding: 18px 18px 18px 25px;
	margin: 0 10px;
	width: 100%;
	text-align: center;
}

.simplecat  {
	margin-bottom: 3.5em;
    padding: 0;
	list-style: none;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.simplecat > li {
	margin-bottom: 0.8em;
	list-style: none;
    display: inline-block;
    width: calc(100% / 3);
}
.simplecat > li ul {
	margin-bottom: 0px;
}
.simplecat li ul li {
	margin-top: 10px;
	margin-bottom: 0px;
} 
.simplecat > li a{
    color: #000;
    text-decoration: none;
}
.simplecat > li a:hover{
	color: #285299;
    text-decoration: underline;
}

.simplecat li a span {font-weight: 600; font-size: 16px;}

@media screen and (max-width: 980px) {
	.simplecat  {
		margin-top:2em;
		margin-left:2em;
	}
	.simplecat > li {
		width: 100%;
	}
}

.priceblur {
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.jq-selectbox__select-text {
	width: auto !important;
	max-width: 180px !important;
	overflow: hidden !important;
}

.title a {
	color: #000;
}
.autocomplete_content {
	margin-bottom: 20px;
}
.b_info5 {
	margin-bottom: 20px;
}
.autocomplete_content input{
	border: 1px solid #dcdcdc;
}
.search_form2 { 
	position: relative;
}

.search_form2 form {
	display: flex;
}

.search_form2 button {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 150px;
    margin-left: 16px;
}

.autocomplete_list {
	background: #fff;
	display: none;
	width: 100%;
	margin-top: 1px;
	padding: 5px 14px 14px 14px;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 100%;
	left: 0;
	color: #000;
	z-index:102;
}
	.autocomplete_list a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: -1px;
		padding: 2px 5px;
		border: 1px solid transparent;
		color: inherit;
		text-decoration: none;
	}
	.autocomplete_list a:last-child {margin-bottom: 0;}
	.autocomplete_list a:hover {border-color: #dcdcdc;}
		.autocomplete_list img {width: 30px;}
		.autocomplete_list .title {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding: 15px;
			font-size: 13px;
		}
		.autocomplete_list .price {white-space: nowrap;}

		.c_wr9 .final_comand button{
			width: 220px;
			margin-left: 16px;
		}

		.c_wr9 .final_comand {
			margin-bottom: 20px;
		}

		.final_comand {
			display: flex;
			flex-direction: row;
		}

		.final_comand textarea {
			border:1px solid #dcdcdc;
			height: auto;
		}

		.final_comand .jq-selectbox__select {
			border:1px solid #dcdcdc; 
			margin-left: 16px;
		}

@media screen and (max-width: 980px) {
	.final_comand {
		flex-direction: column;
	}

	.c_wr9 .final_comand button {
		margin-left: 0px;
		/* margin-top: 20px; */
	}

	.c_wr9 .final_comand .jq-selectbox__select {
		margin-left: 0px;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	#dealer_chosen {
		margin-left: 0px;
		width: 100% !important;
	}
}

.b_info5 .del {
    background: url(../public/i/x2.png) center no-repeat;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    padding: 0;
    border-radius: 0;
}

.h_menu > li.activea > a {
    background: #e12c63;
    color: #fff;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-single {
	box-shadow: none;
	height: 46px;
    padding: 0 46px 0 20px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 46px;
	color: #939393;
	border: 1px solid #dcdcdc;
}
.chosen-container-single .chosen-drop {
	margin-top: -4px;
	border: 1px solid #dcdcdc;
	border-top: none;

}

.chosen-container .chosen-results li {
	font-size: 14px;
    line-height: 22px;
	color: #939393;
}

.chosen-container .chosen-results {
	margin: 0px;
	margin-left: -5px;
	color: #939393;
}

.chosen-container .chosen-results li.highlighted,
.chosen-container .chosen-results li.result-selected,
.chosen-container .chosen-results li:hover {
	background-color: #285299 !important;
	background-image: none;
    color: #fff;
}
.chosen-container-single .chosen-single div {
	width: 44px;
}
.chosen-container-single .chosen-single div b {
	margin: -4px 0 0 -6px;
	background-image: url(../public/i/arrow1.png);
	width: 12px;
	height: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-position: 0;
	
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: 0;
}

.b_detail .slick-prev,
.b_detail .slick-next {
    font-size: 0;
    position: absolute;
    top: 50%;
    color: #285299;
    border: 0;
    background: none;
    z-index: 1;
}

.b_detail .slick-prev {
    left: -20px;
}

.b_detail .slick-prev:after {
	  content: "\f104";
    font: 40px/1 'FontAwesome';
}

.b_detail .slick-next {
    right: -50px;
    text-align: right;
}

.b_detail .slick-next:after {
	   content: "\f105";
     font: 40px/1 'FontAwesome';
}

.b_detail .slick-prev:hover:after,
.b_detail .slick-next:hover:after {
    color: #285299;
}

.b_detail .slick-track {
	height: 515px;
}
@media screen and (max-width: 768px) {
	.jq-selectbox__dropdown {
		right: auto !important;
	}
}

.modal-window {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
  }
  .modal-window:target {
	opacity: 1;
	pointer-events: auto;
  }
  .modal-window > div {
	overflow-y: scroll;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	padding: 2em;
	background: #ffffff;
	color: #333333;
  }
  .modal-window header {
	font-weight: bold;
  }
  .modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
	color: #333333;
  }
  
  .modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
  }
  .modal-close:hover {
	color: #000;
  }    
  .btn {
	background-color: #fff;
	padding: 1em 1.5em;
	border-radius: 3px;
	text-decoration: none;
  }
  .btn i {
	padding-right: 0.3em;
  }
  