<p>{list}</p>
<p>Total - {total} Lei</p>
<p>Date - {date}</p>
<p>Order number - {ordernumber}</p>
<p>Transaction type - {transactiontype}</p>
<p>RRN - {rrn} </p>
<p>Authorization code - {code} </p>
<p>{fornumber}</p>
<p>{name} </p>
<h3>{companydata}</h3>
<p>Megatradecom SRL</p>
<p>Republica Moldova </p>
<p>www.agm.md</p>
<p>https://www.agm.md/ro/pages/conditii-de-returnare-produs/ </p>
<p>https://www.agm.md/ro/pages/delivery/ </p>
<p>info@agm.md +373 022 800871</p>

