/* -------------------------------
	Fonts
------------------------------- */
@font-face {
    font-family: 'gardenscregular';
    src: url('../fonts/gardensc_webfont.eot');
    src: url('../fonts/gardensc_webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gardensc_webfont.woff') format('woff'),
         url('../fonts/gardensc_webfont.ttf') format('truetype'),
         url('../fonts/gardensc_webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_Regular';
    src: url('../fonts/ProximaNova_Regular.eot');
    src: url('../fonts/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova_Regular.woff') format('woff'),
         url('../fonts/ProximaNova_Regular.ttf') format('truetype'),
         url('../fonts/ProximaNova_Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_Light';
    src: url('../fonts/ProximaNova_Light.eot');
    src: url('../fonts/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova_Light.woff') format('woff'),
         url('../fonts/ProximaNova_Light.ttf') format('truetype'),
         url('../fonts/ProximaNova_Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_Bold';
    src: url('../fonts/ProximaNova_Bold.eot');
    src: url('../fonts/ProximaNova_Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova_Bold.woff') format('woff'),
         url('../fonts/ProximaNova_Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova_Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* -------------------------------
	Global 
------------------------------- */
html, body {height: 100%;}
	/* toggle comment html tag before/after toggle img-substrate */
	html {background:#fff;}

	body {min-width: 320px; font: 14px/1.5 'ProximaNova_Regular', Arial, Helvetica, sans-serif;
					/* opacity for substrate */
    /*opacity: 0.5;*/
}
/* for substrate */
/*html {
    background: #fff url(../img/Landing_context_320.jpg) 50% 0 no-repeat;
}*/


body,
dl, dd,
blockquote, fieldset, legend {margin: 0; padding: 0;}
fieldset {border: none;}
table {border: none; border-collapse: collapse;}
	th, td {vertical-align: top;}
	th {text-align: left; font-weight: normal;}
address {font-style: normal;}
p, ul, ol {margin: 0 0 1.5em 0;}
img {vertical-align: top;}
iframe[src="//t.insigit.com/nsapi/static/partners.html"] {display: none;}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	font-size: 0;
	line-height: 0;
}

.ib_wr > * {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: normal;
}
.ib_wr,
.ib_wr .ib_wr {
	font-size: 0;
	line-height: 0;
	letter-spacing: -0.3em;
}

#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 2100px;
	min-height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.in {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

/* -------------------------------
	Txt 
------------------------------- */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-family: 'ProximaNova_Bold';
	font-weight: bold;
	line-height: auto;
	color: #000;
}
h1 {font-size: 26px;}
h2 {font-size: 26px;}
h3 {font-size: 16px;}
h4 {font-size: 15px;}
h5 {font-size: 14px;}
h6 {font-size: 13px;}

.tbl_hide,
.tbl_hide th,
.tbl_hide td {border: none;}

.tbl_border,
.tbl_border th,
.tbl_border td {border: 1px solid #333;}

.tbl_border.v1 td,
.tbl_border.v1 th, 
.tbl_border.v1 p {
	padding: 3px;
	text-align: center;
	margin: auto;
}

.tbl_overflow {overflow: auto; position: relative;}
.tbl_overflow table {min-width: 640px;}

/* -------------------------------
	Links 
------------------------------- */
:focus {outline: none;}
a img {border: none;}

a {
	color: none;
	text-decoration: none;
}
a:hover {text-decoration: none;}

a[href^="tel"] {
	color: inherit;
	white-space: nowrap;
	text-decoration: none;
}

/* -------------------------------
	Forms 
------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
	background: #fff;
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 1px solid #ccc;
	font: 14px/20px 'ProximaNova_Regular', Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-appearance: none;
}
textarea {
	height: 150px;
	overflow: auto;
	resize: none;
	vertical-align: top;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {opacity: 1;}
input::-moz-placeholder,
textarea::-moz-placeholder {opacity: 1;}
input:-moz-placeholder,
textarea:-moz-placeholder {opacity: 1;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {opacity: 1;}

input[type="submit"],
input[type="button"],
button,
.btn {
	background: #fff;
	padding: 0;
	border: none;
	border-radius: 5px;
	font: 14px/20px "ProximaNova_Regular", Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
}
a.btn {display: inline-block; text-decoration: none;}

/* -------------------------------
	Header 
------------------------------- */
#header {
	position: relative;
	background: #fff url(../img/bkg_h.png) 0 0 no-repeat;
	background-size: cover;
}

	#header > .in {
		min-height: 825px;
		margin-top: 25px;
	}
	
	.h_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo_wr {
display: flex;
align-items: center;
}

.logo_txt {
	height: 40px;
	font-family: 'gardenscregular';
 font-size: 30px;
 color: rgb(224, 69, 67);
 line-height: 0.8;
 background-color: #fff;
 padding: 7px 15px 11px 12px;
 border-radius: 5px;
 position: relative;
	top: 3px;
	margin-left: 7px;
}

.h_menu_wr {}

		.h_menu {
			margin: 0;
			padding: 0;
			list-style: none;
  font-size: 13px;
  text-transform: uppercase;
		}

.h_menu li {
	padding: 0;
	display: inline;
}

.h_menu li:nth-child(n+2) {
 margin-left: 27px;
}
				
.h_menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.h_menu a:hover {
	color: #000;
	text-decoration: none;
}

.h_phone_wr {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.h_phone {
 font-size: 13px;
 position: relative;
 top: 2px;
}

.h_phone_wr img {
	padding-right: 9px;
}

.h_phone a {
 color: #fff;
}
.h_phone a:hover {
	color: #000;
}

/* burger-button */
.m_ctrl {
  /*background: #de4647;*/
  background: transparent;
  display: none;
  width: 45px;
  height: 45px;
  padding: 14px 12px 14px 12px;
  /*border-radius: 50%;*/
  /*border: 1px solid #de4647;*/
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 30;
}
.m_ctrl span {
    background: #fff;
    display: block;
    height: 2px;
    width: 31px;
    /*border-radius: 2px;*/

/*  DO NOT DELETE!*/
  outline: 1px solid #de4647;
/*DO NOT DELETE!*/

    position: relative;
    /*right: 30%;*/
    right: 10px;
}
.m_ctrl span + span {margin-top: 5px;}

/* wrapper and mobile menu in head */
.h_menu_mob_wr {
    display: none;
    width: 100%;
    max-width: 320px;
    height: 100%;
    overflow: auto;
    padding: 40px 25px 25px 25px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px 0 0 10px;
    background-color: #3C3C3C;
    z-index: 20;
}

.h_menu_mob {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    right: 30px;
}

.h_menu_mob > li {
    border-bottom: 1px dotted #c83333;
    position: relative;
}

.h_menu_mob > li > a {
    color: #faf7f7;
    font-size: 15px;
    line-height: 1.3;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 12px 15px; 
}

.h_menu_mob > li:hover > a,
.h_menu_mob > li.active > a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.h_menu_mob .ddown {
    width: 100%;
    border: 3px solid #ffffff;
    padding: 20px 30px;
    background-color: #ededed;
    list-style: none;
    margin: 0;
    position: static;
    display: none;
}

.h_menu_mob .ddown li {
    border-bottom: 1px solid #decdcd;
}

.h_menu_mob .ddown li:last-child {
    border: 0;
}

.h_menu_mob .ddown a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 7px 0 7px 0;
}

.h_menu_mob > li:hover .ddown {
    display: block;
}

.h_menu_mob .ddown a:hover {
    color: #b03d6d;
}
/* mob menu end */

.b_info1 {
	 font-family: 'ProximaNova_Light';
  font-size: 42px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 130px;
}

.b_info1.v2 {
  display: none;
}

.b_info2 {
  width: 60%;
  font-family: 'ProximaNova_Regular';
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 128px;
}

.b_info1 > p {
	margin-bottom: 1.1em;
}

.btn_wr {
	display: flex;
	flex-wrap: wrap;
}

.btn.v1 {
  font-family: 'ProximaNova_Regular';
  font-size: 14px;
  color: rgb(27, 27, 27);
  text-transform: uppercase;
  text-align: center;
  width: 340px;
  height: 45px;
  margin-right: 17px;
  padding: 10px 17px;
}

a.btn.v1 span {
 color: rgb(27, 27, 27);
	position: relative;
	top: 4px;
	letter-spacing: 0.05em;
}
/*.btn.v1 a {
 color: rgb(27, 27, 27);
	position: relative;
	top: 4px;
	letter-spacing: 0.05em;
}*/
	

/* -------------------------------
	Main 
------------------------------- */
#main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 0;
	position: relative;
}

.title2 {
  font-family: 'ProximaNova_Bold';
  font-size: 26px;
  color: rgb(27, 27, 27);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.title2.v1 {
	margin-top: 1px;
	margin-bottom: 40px;
}

.b_info3 {
	display: flex;
	flex-wrap: wrap;
}

.b_info3 .item {
	width: 25%;
	min-height: 351px;
	padding: 20px 21px 67px 21px;
}

.b_info3 .thumb {
	text-align: center;
	margin-bottom: 45px;
}

.b_info3 .descr {
  font-family: 'ProximaNova_Bold';
  font-size: 16px;
  color: rgb(27, 27, 27);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.b_info3 .txt {
  font-family: 'ProximaNova_Regular';
  font-size: 14px;
  color: rgba(27, 27, 27, 0.8);
  line-height: 1.5;
  text-align: center;
}

.btn.v2 {
 max-width: 370px;
 min-height: 46px;
 background-color: #e04543;
 text-align: center;
 margin: 0 auto 64px auto;
 padding-top: 13px;
}

a.btn.v2 {
 font-family: 'ProximaNova_Regular';
 font-size: 14px;
 text-transform: uppercase;
	color: rgb(255, 255, 255);
 text-align: center;
 letter-spacing: 0.05em;
 display: block;
 /*margin: 0 auto 64px auto;
 customer asked for lower value */
 margin: 0 auto 72px auto;
}

/*.btn.v2 a {
 font-family: 'ProximaNova_Regular';
 font-size: 14px;
 text-transform: uppercase;
	color: rgb(255, 255, 255);
 text-align: center;
 letter-spacing: 0.05em;
}*/

.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) 0 0 no-repeat;
	/*background-size: auto 100%;*/
	/*background-size: auto 100%;*/
	/*background-size: contain;*/
	min-height: 632px;
}

.content_wr3 .in {
	padding-top: 55px;
}

.b_info4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.b_info4 .item {
	width: calc(25% - 30px);
	height: 545px;
	background-color: #fff;
	margin: 0 15px;
}

.b_info4 .thumb_wr {
	background-color: #e04543;
	min-height: 215px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b_info4 .thumb_wr .thumb {
	width: 143px;
	height: 143px;
	border-radius: 50%;
 text-align: center;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

.b_info4 .descr {
	padding: 30px 20px;
}

.b_info4 .bold {
 font-family: 'ProximaNova_Bold';
  font-size: 16px;
  color: rgb(27, 27, 27);
  font-weight: bold;
  line-height: 1.2;
}

.b_info4 .regular {
	font-family: 'ProximaNova_Regular';
  font-size: 14px;
  color: rgba(27, 27, 27, 0.8);
  line-height: 1.2;
}
	
.b_info4 .item.v1 {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b_info4 .descr.v2 {
	text-align: center;
	padding: 0 5px;
}

.b_info4 .btn.v2 {
	max-width: 227px;
}

.content_wr4 {
	background: #fff url(../img/bkg_m2.png) 0 -200px no-repeat;
	background-size: 100% auto;
}

.content_wr4 .in h2 {
	padding-top: 75px;
	text-align: center;
	padding-bottom: 5px;
}

.content_wr4 .in > h2 + p {
  font-family: 'ProximaNova_Regular';
  font-size: 14px;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  margin-bottom: 2em;
}

.b_info5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 59px;
}

.b_info5 .item {
	width: calc(25% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	background-color: #e04543;
	color: #fafafa;
}

.b_info5 .item .head_wr {
	background-color: #000;
	color: #fafafa;
	display: flex;
	justify-content: space-between;
 padding: 23px 25px;
}

.b_info5 .title_wr1 {
 display: flex;
 flex-direction: column;
}

.b_info5 .title_wr1 .txt1 {
 font-family: 'ProximaNova_Bold';
 font-size: 18px;
 color: #fafafa;
}

.b_info5 .title_wr1 .txt2 {
  font-family: 'ProximaNova_Bold';
  font-size: 14px;
  color: #fafafa;
}

.b_info5 .title_wr2 .txt3 {
	font-family: 'ProximaNova_Bold';
 font-size: 21px;
 color: #fafafa;
}

.b_info5 .title_wr2 .txt4 {
	font-family: 'ProximaNova_Bold';
 font-size: 14px;
 color: #fafafa;
 line-height: 1;
}

.b_info5 ul {
	padding: 25px 15px 0 35px;
}
.b_info5 .b_btn {
	display: flex;
	justify-content: center;
}

.b_info5 .b_btn a.btn.v3 {
	width: 85%;
	line-height: 45px;
 color: rgb(27, 27, 27);
 text-transform: uppercase;
 text-align: center;
	margin-bottom: 1.5em;
}

.regular.v2 {
  font-size: 14px;
  font-family: 'ProximaNova_Regular';
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
}

.content_wr4 .btn.v2 {
 width: 271px;
 height: 46px;
}

.content_wr4 .btn.v2 a {
 color: #ffffff;
 letter-spacing: 0.05em;
}

.content_wr5 {
	background: #fff url(../img/bkg_m3.png) 0 0 no-repeat;
	background-size: 100% auto;
}

.content_wr5 .in {
 /* marker. padding-top: 150px;
 customer asked for bigger size value
 */
 padding-top: 190px;
}

.b_info6 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.b_info6 .title {
 font-family: 'ProximaNova_Bold';
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.b_info6 .btn.v1 {
	width: 271px;
	height: 45px;
}

.b_info6 .btn.v1 span {
	font-family: 'ProximaNova_Regular';
	font-size: 14px;
	position: relative;
	top: 4px;
	letter-spacing: 0.05em;
}

.b_info7 {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 88px;
}

.b_info7 .item {
	width: calc(20% - 58px);
	height: 255px;
	margin: 0 29px;
	position: relative;
}

.b_info7 .number {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 2px solid #f0a2a1;
	position: absolute;
	right: 0;
	z-index: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b_info7 .number span {
  font-size: 24px;
  font-family: 'ProximaNova_Bold';
  color: rgba(255, 255, 255, 0.529);
  font-weight: bold;
  line-height: 0.75;
  position: relative;
  z-index: auto;
}

.b_info7 .thumb {
	width: 139px;
	height: 139px;
	border-radius: 50%;
	background-color: #fff;
	z-index: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 30px;
	left: 20px;
}

.b_info7 .txt {
  font-size: 16px;
  font-family: 'ProximaNova_Regular';
  color: rgb(255, 255, 255);
  line-height: 1.125;
  text-align: center;
  position: relative;
  top: 63px;
}

.b_info7 .item:nth-child(-n+4)::after {
	content: url('../img/ico_arrow.png');	
	position: absolute;
	left: 200px;
	top: 30%;
}


/* popup begin */
.content_wr4_1 {
	background-color: #E9E9E9;
}

#test-popup {
  border-radius: 5px;
  position: relative;
	}
#test-popup .b_info8 {
  background: #ffffff url("../img/logo_small.png") 50% 0 no-repeat;
  position: relative;
  max-width: 526px;
  height: auto;
}

#test-popup .b_info8 h2 {
  color: #1b1b1b;
  text-align: center;
	padding-top: 50px;
	margin-bottom: 0.1em;
}

#test-popup .b_info8 h2 + p {
  font-size: 14px;
  font-family: 'ProximaNova_Regular';
  color: rgba(27, 27, 27, 0.8);
  line-height: 1.5;
  text-align: center;
}

#test-popup .form_wr {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#test-popup .item {
	max-width: 327px;
	width: 100%;
	margin-bottom: 1em;
	border-bottom: 1px solid #b7b7b7;
}

#test-popup .item.v22 {
	display: flex;
	justify-content: center;
}

#test-popup .item:last-child {
	border: none;
}


#test-popup label {
 font-size: 12px;
 color: #707070;
 text-align: left;
 font-family: 'ProximaNova_Regular';
}

#test-popup label:first-child {
	position: relative;
	top: 10px;
	left: 0;
}

#test-popup label.labelll {
	position: relative;
	top: 3px;
	left: 0;
}

#test-popup input, select {
  font-size: 18px;
  font-family: 'ProximaNova_Regular';
  color: rgb(27, 27, 27);
  text-align: left;
  border: none;
  padding-left: 0;
}

.btn.v4 {
 width: 179px;
 min-height: 46px;
 background-color: #e04543;
 color: #ffffff;
 font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
 margin: 20px auto 0 auto;
 padding-top: 3px;
}

/*cross-popup-close - begin*/
/*.mfp-bg {
    background-color: #2c3641;
    opacity: 0.95;
}*/

.mfp-close-btn-in .mfp-close {
    background-image: url(../img/x.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    font-size: 0;
    line-height: 0;
    opacity: 1;
    cursor: pointer;
}
/*cross-popup-close - end*/
/* popup end */
		
	.sb_menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.fog {
		background: rgba(45, 44, 44, 0.8);
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.popup {
		background: #fff;
		width: 100%;
		max-width: 510px;
		padding: 30px;
		margin: 0 auto;
	}
		.popup_header {}
		.popup .close {
			background: url(x1.png);
			width:;
			height:;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}

/* -------------------------------
	Footer 
------------------------------- */
#footer {position: relative;}

	#footer > .in {
		margin-top: 50px;
		padding-bottom: 30px;
	}
		
#footer .cols {
	display: flex;
}

#footer .cols .col {
	width: 50%;
	position: relative;
}

#footer .cols .col:nth-child(1) {
	column-count: 2;
	column-width: 50%;
}

.f_phone p {
 margin: 0;
}

.f_phone {
	margin-bottom: 1em;
}

.email {
	margin-bottom: 1.1em;
}

.email p {
 margin: 0;
 color: #9a9a9a;
 font-size: 15px;
}

.email a {
  color: #494949;
}

.adress {
	margin-bottom: 1em;
}

.adress a {
	font-size: 15px;
}

.adress p {
 margin: 0;
 color: #9a9a9a;
}

.adress p:first-child {
	color: #494949
}

.copy {
 margin-top: 37px;
 color: #9a9a9a;
}

.f_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.f_menu li {
	padding: 0;
	display: inline;
	text-transform: uppercase;
	color: #292929;
	width: calc(25% - 25px);
	font-size: 12px;
	letter-spacing: 0.05em;
}

.f_menu li:nth-child(n+2) {
	padding-left: 20px;
}

.f_menu a {
	color: #292929;
	text-decoration: none;
}

.f_menu a:hover {
	color: #de4647;
	text-decoration: none;
}

.txt5 {
  font-size: 12px;
  font-family: 'ProximaNova_Regular';
  color: #292929;
  line-height: 2;
  text-align: right;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: 0;
  right: 0; 
}

.txt5 a {
 color: #838383;
}
/* Animation */
/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
/*.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}*/
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Float Shadow */
.hvr-float-shadow {
/*  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* --------------
Animation end
--------------- */
@media screen and (max-width: 1636px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 580px) 0 no-repeat;}
}

@media screen and (max-width: 1570px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 580px) 0 no-repeat;
 }
}

@media screen and (max-width: 1510px) {
 .content_wr5 {
	background: #fff url(../img/bkg_m3.png) 0 0 no-repeat;
	background-size: cover;
 }
}

@media screen and (max-width: 1450px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 520px) 0 no-repeat;}

	/*#header {
	position: relative;
	background: #fff url(../img/bkg_h.png) 0 0 no-repeat;
	background-size: cover;
 }*/

 #header {
	position: relative;
	background: #fff url(../img/bkg_h.png) -200px 0 no-repeat;
	background-size: cover;
 }
}

@media screen and (max-width: 1350px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 480px) 0 no-repeat;}

	 #header {
	position: relative;
	background: #fff url(../img/bkg_h.png) -350px 0 no-repeat;
	background-size: cover;
 }
}

@media screen and (max-width: 1250px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 420px) 0 no-repeat;}
	 #header {
	position: relative;
	background: #fff url(../img/bkg_h.png) -400px 0 no-repeat;
	background-size: cover;
 }
}

@media screen and (max-width: 1150px) {
	.content_wr3 {
	background: #f3f3f3 url(../img/bkg_m.jpg) calc(100% - 380px) 0 no-repeat;}
}

@media screen and (max-width: 1110px) {
	#header {
	background: #fff url(../img/bkg_h.png) -450px 0 no-repeat;
	background-size: auto 100%; 
}

	.b_info4 .item.v1 {
	background-color: rgba(255, 255, 255, 0.8);
 }

 .content_wr5 {
	background: #fff url(../img/bkg_m3.png) 0 0 no-repeat;
	background-size: cover;
 }

.f_menu ul {
	display: flex;
 flex-wrap: wrap;
}

.f_menu li:nth-child(n+2) {
	padding-left: 0;
}

.f_menu li {
	width: calc(33.3% - 40px);
	padding-left: 0;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap;
	margin-bottom: 15px;
 }
}

@media screen and (max-width: 1000px) {
	
	#header {
	background: #fff url(../img/bkg_h.png) -700px 0 no-repeat;
	background-size: auto 100%; 
}

.b_info1 {
	background-color: rgba(239, 76, 77, 0.6);
	border-radius: 0 20px 20px 0;
}

.b_info7 .number {
	top: -15px;
 }

/* .b_info7 .item:nth-child(-n+4)::after {
 	content: url('../img/ico_arrow.png');	
	position: absolute;
	left: 105%;
	top: 30%;
 }*/
.b_info7 .item:nth-child(-n+4)::after {
	display: none;
}

 
 .title2.v1 {
	margin-top: -15px;
 }

 .b_info3 .item {
	width: 50%;
 }

 .b_info4 .item {
	width: calc(50% - 30px);
	margin-bottom: 10px;
 }

 .b_info5 .item {
	width: calc(50% - 30px);
	margin-bottom: 10px;
 }

 .b_info7 {
 	justify-content: center;
 }

 .b_info7 .item {
	width: calc(33.3% - 58px);
	display: flex;
	flex-direction: column;
	align-items: center; 
 }

 .b_info7 .number {
 	top: 1%;
 	right: 15%;
 }

 .b_info7 .thumb {
 	left: 0;
 }
 .b_info4 .item.v1 {
 	display: none;
 }
}

@media screen and (max-width: 980px) {
		#header {
	position: relative;
	background: #fff url(../img/bkg_h.png) -700px 0 no-repeat;
	background-size: auto 100%; 
}

		.h_row {
		justify-content: space-around;
		align-items: flex-start;
	}

	#header .h_menu_wr {
		width: 50%;
	}

	#header .h_menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#header .h_menu li {
		white-space: nowrap;
		margin-bottom: 10px;
	}

	#header .btn_wr {
		position: relative;
		top: -70px;
	}

#footer .cols .col:nth-child(1) {
	/*column-count: 2;
	column-width: 50%;*/
	columns: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copy {
 margin-top: 1px;
}

#footer .cols .col:last-child {
	display: none;
 }

  #footer .f_phone,
  #footer .adress,
  #footer .email
   {
  	text-align: center;
  }

  #footer .cols {
 	flex-direction: column;
 	align-items: center;
 }
 #footer .cols .col {
 	width: 100%;
 }
}

@media screen and (max-width: 900px) {
		#header {
	background: #fff url(../img/bkg_h.png) -800px 0 no-repeat;
 }
}

@media screen and (max-width: 850px) {
	#header {
	background: #fff url(../img/bkg_h.png) -850px 0 no-repeat;
 }

 .b_info7 .number {
 	top: -5%;
 	right: 15%;
 } 
}

@media screen and (max-width: 800px) {
		#header {
	background: #fff url(../img/bkg_h.png) 100% 0 no-repeat;
 }
 .b_info2 {
 	width: 100%;
 }
}

@media screen and (max-width: 768px) {
.content_wr5 {
	background: #e04543 url(../img/bkg_m3red.png) 0 0 no-repeat;
	/*background-size: cover;*/
	background-size: auto;
 }
  .b_info7 .thumb {
 	left: 0;
 	border: 1px solid #e04543;
 }

 .b_info7 .txt {
 	text-shadow: 
 	2px 0 1px #e04543,
 	2px 2px 1px #e04543,
 	0 2px 2px #e04543,
 	-2px 2px 1px #e04543,
 	-2px -2px 1px #e04543,
 	0 -2px 1px #e04543,
 	2px -2px 1px #e04543;
/* 	background-color: #e04543;
 	border-radius: 25px;
 	padding: 5px 10px;*/
 }
}

@media screen and (max-width: 730px) {
			/*#header {
	background: #fff url(../img/bkg_h.png) 90% 0 no-repeat;
 }*/

 	#header .btn_wr {
		justify-content: center;
	}

	.btn_wr .btn.v1 {
		margin-bottom: 15px;
		border: 1px solid rgba(239, 76, 77, 1);
	}
	.f_menu li {
		white-space: normal;
		letter-spacing: normal;
	}
}

@media screen and (max-width: 640px) {
				#header {
	background: #fff url(../img/bkg_h.png) 94% 0 no-repeat;
 }
 .f_menu li {
	width: calc(50% - 40px);
	white-space: nowrap;
 }
}

@media screen and (max-width: 600px) {
	
	#header {
	background: #fff url(../img/bkg_h.png) 93% 0 no-repeat;
 }

		#header .h_menu {
		flex-direction: column;
		justify-content: center;
	}
	
	.h_menu li:nth-child(n+2) {
 margin-left: 0;
 }

 .h_menu {
 	margin-left: 20%;
 }

 .b_info1 {
 	margin-top: 50px;
 	font-size: 35px;
 }

 .b_info2 {
 	text-shadow: 1px 1px 0 rgba(239, 76, 77, 1),
 	-1px -1px 0 rgba(239, 76, 77, 1);
 }

 .b_info7 .number {
 	right: -8%;
 }

 .b_info7 .item {
 	margin-bottom: 20px;
 }
}

@media screen and (max-width: 550px) {

		#header {
	background: #fff url(../img/bkg_h.png) 90% 0 no-repeat;
 }

	 .b_info7 .item {
	width: calc(50% - 58px);
 }

 .b_info6 {
 	flex-wrap: wrap;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }


 .b_info6 .btn.v1 {
	width: 271px;
	height: 45px;
	border: 1px solid rgba(239, 76, 77, 0.6);
 }

 .b_info7 .number {
 	right: 15%;
 }
}

@media screen and (max-width: 480px) {
		#header {
	background: #fff url(../img/bkg_h.png) 89% 0 no-repeat;
 }

 .logo_wr {
 	flex-wrap: wrap;
 }

 .h_menu {
 	margin-left: 0;
 }

  .b_info1 {
 	margin-top: 50px;
 	font-size: 32px;
 }

 .b_info3 .item {
	width: 100%;
 }

 .b_info4 .descr.v2 h2 {
 	margin-top: 50px;
 }

 .b_info4 .item {
	width: calc(100% - 30px);
 }

 .b_info4 .item {
 	height: auto;
 }

 .b_info5 .item {
	width: calc(100% - 30px);
	margin-bottom: 10px;
 }

/* .b_info6 {
 	justify-content: center;
 }*/

 #footer .cols {
 	flex-direction: column;
 	align-items: center;
 }
 #footer .cols .col {
 	width: 100%;
 }
 #footer .cols .col:first-child {
 	margin-bottom: 20px;
 }
 .adress {
 	text-align: right;
 }
 .copy {
 	text-align: right;
 }
 
 .f_menu li {
 	font-size: 13px;
 	text-align: center;
 	letter-spacing: 0.05em;
 }
}

/*@media screen and (max-width: 375px) 
{
.h_menu,
.h_menu_wr {
 display: none;    
}

.m_ctrl {
  display: block;
 }

.b_info1 {
	border-radius: 20px;
	padding: 5px;
}

 .b_info2 {
	background-color: rgba(239, 76, 77, 0.6);
	border-radius: 20px;
	padding: 5px;
}

			#header {
	background: #fff url(../img/bkg_h.png) -1200px 0 no-repeat;
 }

 	#header > .in {
		margin-top: 1px;
	}

	 .b_info1 {
 	font-size: 24px;
 }

 .btn.v1 {
 	margin-right: 0;
 	max-width: 360px;
  min-height: 45px;
 }

  .b_info7 .number {
 	right: -19%;
 }
 
 .txt5 {
 bottom: -15px;
 }
}*/

@media screen and (max-width: 375px)
{
.h_menu,
.h_menu_wr {
 display: none;    
}

.m_ctrl {
  display: block;
 }

.b_info1 {
	display: none;
}

.b_info1.v2 {
  display: block;
  /*width: 40%;*/
  width: 160px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  /*margin-top: 130px;*/
  margin-left: auto;
  margin-right: auto;
	background-color: transparent;
	border-radius: 0;
}

 .b_info2 {
 	/*text-shadow: 0;*/
 	width: 95%;
 	background-color: transparent;
	border-radius: 0;
	padding: auto;
	text-align: center;
		padding: 0;
		font-size: 14px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
 }

 .title2.v1 {
	margin-top: 65px;
 }

 	#header {
	background: #de4647 url(../img/bkg_h2.png) 50% 33% no-repeat;
 }

 	#header > .in {
		min-height: auto;
		/*min-height: 660px;*/
		margin-top: 10px;
	}

 	.h_row {
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		left: -25px;
		top: 1px;
	}

	.logo_wr {
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
		/*margin-bottom: 10px;*/
/*width: 125px;*/
}

.logo {}

.logo img {
 height: 26px;
}

.logo_txt {
	height: 23px;
 font-size: 16px;
 /*line-height: 0.8;*/
 /*background-color: #fff;*/
 padding: 9px 9px 7px 9px;
 border-radius: 2px;
 /*position: relative;
	top: 3px;*/
	margin-left: 7px;
}

.logo_txt span {
	position: relative;
	top: -4px;
}

.h_phone_wr img {
	display: none;
}

.h_phone {
 /*font-size: 13px;*/
 position: relative;
 top: 5px;
 right: -11%;
}


 .btn.v1 {
 	margin-right: 0;
 	max-width: 360px;
  min-height: 45px;
 }

  .b_info7 .number {
 	right: -19%;
 }
 
 .txt5 {
 bottom: -15px;
 }

 .content_wr4 .in h2 {
	padding-top: 45px;
 }
}

@media screen and (max-width: 320px) {
		.h_menu,
.h_menu_wr {
 display: none;    
}

.m_ctrl {
  display: block;
 }

 	#header {
	background: #de4647 url(../img/bkg_h2.png) 50% 33% no-repeat;
 }

 	#header > .in {
		min-height: auto;
		/*min-height: 660px;*/
		/*margin-top: 25px;*/
	}

 .btn.v1 {
 	height: auto;
 }
 .btn.v2 {
 	padding-bottom: 13px;
 }

/* marker redesign code - begin */

 	.h_row {
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		left: -25px;
		top: 10px;
	}

	.logo_wr {
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
		/*margin-bottom: 10px;*/
/*width: 125px;*/
}

.logo {}

.logo img {
 height: 26px;
}


.logo_txt {
	height: 23px;
 font-size: 16px;
 /*line-height: 0.8;*/
 /*background-color: #fff;*/
 padding: 9px 9px 7px 9px;
 border-radius: 2px;
 /*position: relative;
	top: 3px;*/
	margin-left: 7px;
}

.logo_txt span {
	position: relative;
	top: -4px;
}

.h_phone_wr img {
	display: none;
}

.h_phone {
 /*font-size: 13px;*/
 position: relative;
 top: 5px;
 right: -11%;
}

.b_info1 {
	display: none;
}

.b_info1.v2 {
  display: block;
  /*width: 40%;*/
  width: 160px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  /*margin-top: 130px;*/
  margin-left: auto;
  margin-right: auto;
	background-color: transparent;
	border-radius: 0;
}

 .b_info2 {
 	/*text-shadow: 0;*/
 	width: 95%;
 	background-color: transparent;
	border-radius: 0;
	padding: auto;
	text-align: center;
		padding: 0;
		font-size: 14px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
 }

 .title2.v1 {
	margin-top: 65px;
 }

/* marker redesign 320 - end*/


}